/**
 * @description    Styling for the layout header
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-08 18:25
 *
 *
 *     @example
 *                 <header class="layoutHeader" role="banner">
 *
 *                 </header>
 *
 *        @type    layout
 *       @notes
 */


/**
 * @section        layoutHeader
 */
.layoutHeader {
    border-bottom: .25em solid $color-layout-header-border;
    @include rgba-bg($color-layout-header-bg, 5);
    text-align: center;

    position: fixed;
    width: 100%;
    z-index: 999999;
}
