/**
 * @description    Styling for the main layout wrapper
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-02 18:04
 *
 *
 *     @example
 *                 <div class="layoutWrapper">
 *
 *                 </div>
 *
 *
 *        @type    layout
 *       @notes
 */


/**
 * @section        layoutWrapper
 */
.layoutWrapper {
    background: $color-layout-wrapper-bg no-repeat bottom right;
    // background-image: url('/template-assets/images/swirl.svg');
    // background-image: url('/template-assets/images/zen_logic_logo_plum.svg');

    height: 100%;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    z-index: 3;
}
