/**
 * @description    styling for the date module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-25 10:54
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        date
 */
.date {
    text-align: center;

    .event & {
        float: left;
        margin: 0 auto;
        // width: 35%;
    }
}

/**
 * @section        dateStart
 */
.dateStart {

}

/**
 * @section        dateDetail
 */
.dateDetail {
    padding: .5em .6em;
}

/**
 * @section        dateMonth
 */
.dateMonth {
    background: #be040f;
    color: $color-white;
}

/**
 * @section        dateDay
 */
.dateDay {
    background: #ecebe8;
    @include font-size(2.2);
}

/**
 * @section        showDate
 */
.showDate {

}

/**
 * @section        closingDate
 */
.closingDate {

}
