/**
 * @description    styling for the quickSearch module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.2
 *        @date    2014-02-26 10:57
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        quickSearch
 */
.quickSearch {
    text-align: center;

    input {
        background: $color-quick-search-bg;
        margin: 1em auto 0 auto;
        text-align: left;
        width: 50%;
    }
}
