/**
 * @description    styling for the tags module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.2
 *        @date    2014-02-12 13:01
 *
 *
 *     @example
 *                 <a class="tag" href="/">Tag text</a>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        tag
 * @example        <a class="tag" href="/">Tag text</a>
 */
.tag {
    background: rgba(0,0,0,0.5);
    @include border-radius(.25em);
    color: $color-white;
    padding: .25em .5em;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType" href="/">Tag text</a>
 */
.tagShowType {
    background: rgba(0,0,0,0.5);
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagIndependent" href="/">Independent</a>
 */
.tagIndependent {
    background: $color-independent;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagBAA" href="/">BAA</a>
 */
.tagBAA {
    background: $color-baa;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagUKA" href="/">UKA</a>
 */
.tagUKA {
    background: $color-uka;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagFAB" href="/">FAB</a>
 */
.tagFAB {
    background: $color-fab;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagInvitation" href="/">Invitation</a>
 */
.tagInvitation {
    background: $color-invitation;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagIrishKennelClub" href="/">Irish Kennel Club</a>
 */
.tagIrishKennelClub {
    background: $color-irishkennelclub;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagKC" href="/">KC</a>
 */
.tagKC {
    background: $color-kc;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagOther" href="/">Other</a>
 */
.tagOther {
    background: $color-other;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagSeries" href="/">Series</a>
 */
.tagSeries {
    background: $color-series;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagShowType tagTraining" href="/">Training</a>
 */
.tagTraining {
    background: $color-training;
}

/**
 * @section        extend .tag
 * @example        <a class="tag tagTrainer" href="/">Trainer</a>
 */
.tagTrainer {

}

/**
 * @section        extend .tag
 * @example        <a class="tag tagJudge" href="/">Judge</a>
 */
.tagJudge {

}
