/**
 * @description    styling for the form module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.3
 *        @date    2014-02-19 19:25
 *
 *
 *     @example
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        formActions
 */
.formActions {
    clear: both;
    padding: 3em 0 2em 0;
    text-align: center;
}

/**
 * @section        formField
 */
.formField {
    @include span-columns(12,12);
}

/**
 * @section        formUpload
 */
.formUpload {
    .uploadImage {
        margin: .5em .6em;
    }
}

/**
 * @section        formContent
 */
.formContent {
    @include prefix(3);

    :first-child {
        margin-top: 0;
    }
}

/**
 * @section        formCheckbox
 */
.formCheckbox {
    @include prefix(3);

    label {
        float: none;
        text-align: left;
        width: auto;
    }
}
