/**
 * @description    styling for the hero module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-24 10:59
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        hero
 */
.hero {
    // background: $color-hero-bg center center no-repeat;
    height: auto;
    margin-top: 410px;
    margin-bottom: 50px;
    text-align: center;

    img {
        vertical-align: middle;
    }
}
