/**
 * @description    styling for the hero module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-24 10:59
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        hero
 */
.hero {
    height: auto;
    padding-top: 170px;
    position: relative;
    text-align: center;
    z-index: 10000;

    img {
        vertical-align: middle;
    }
}
