/**
 * @description    styling for the brandLogo class
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-10 10:48
 *
 *
 *     @example
 *                 <a class="brandLogo" href="/">AgilityDiary</a>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        brandLogo
 */
.brandLogo {
    @include font-size(3.0);

    color: $color-copy;
    font-weight: bold;
    margin-right: 2em;

    &:hover {
        text-decoration: none;
    }

    img {
        text-align: center;
        vertical-align: middle;
    }

    span {
        @extend %visuallyhidden;
    }
}
