/**
 * @description    styling for the panel module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-26 12:41
 *
 *
 *     @example
 *                 <section class="panel"></section>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        panel
 */
.panel {
    background: $color-panel-bg;

    &:nth-child(even) {
        background: $color-white;
    }

    &:last-child {

    }

    .container {
        padding: 1em 2em 2em 2em;
    }
}

/**
 * @section        panel
 *   @notes        http://creative-punch.net/2014/01/using-sass-generate-color-box-shadow-loop/
 */
$elements: 10;

@for $i from 0 to $elements {
    $red: $i * 10 + 1;
    $green: ($i * 10 + 150) / 2;
    $blue: ($i * 10 + 1) / 2;

    .panel:nth-child(#{$i}) {
        // background: rgb($red, $green, $blue);
        // box-shadow: 0 -1px #{($elements - $i) * 2}px rgba(0, 0, 0, 0.1);
    }
}

/**
 * @section        extend panel
 */
.postSomething {
    form {
        float: none;
    }
}

/**
 * @section        extend panel
 */
.enteredShowsList {

}

/**
 * @section        extend panel
 */
.enteredShow {
    @include span-columns(4,12);
    padding: 0 1em;

    &:first-child {
        border-right: 1px solid $color-border;
    }

    &:last-child {
        border-left: 1px solid $color-border;
    }

    &:nth-child(3n) {
        @include omega;
    }

    .showDetail {
        @include font-size(1.4);
        padding-left: 2em;
        position: relative;

        .fa {
            left: 0;
            padding-top: .5em;
            position: absolute;
        }

    }
}
