/**
 * @description    styling for the brandLogo class
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-10 10:48
 *
 *
 *     @example
 *                 <a class="brandLogo" href="/">AgilityDiary</a>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        brandLogo
 */
.brandLogo {
    bottom: 0;
    // @include box-shadow(red 2px 2px 10px);
    color: $color-copy;
    display: block;
    @include font-size(3.0);
    font-weight: bold;
    height: 72px;
    left:.5em;
    margin-right: 2em;
    position: absolute;
    right: 0;
    top: .5em;
    width: 72px;
    z-index: 999999;

    &:hover {
        text-decoration: none;
    }

    img {
        text-align: center;
        vertical-align: middle;
    }

    span {
        @extend %visuallyhidden;
    }
}
