/**
 * @description    styling for the friends module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-21 10:29
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        friendsList
 */
.friendsList {

}

/**
 * @section        friendProfilePicture
 */
.friendProfilePicture {
    @extend %circleAvatar;
    height: 32px;
    margin: .5em;
    width: 32px;
}
