/**
 * @description    styling for the avatar module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-21 18:58
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */


/**
 * @section        avatarContainer
 */
.avatarContainer {
    margin-top: -25px;
    padding-bottom: 0;
    padding-top: 0;
}

/**
 * @section        primaryAvatarContainer
 */
.primaryAvatarContainer {
    float: left;
    width: 25%;
}

/**
 * @section        secondaryAvatarContainer
 */
.secondaryAvatarContainer {
    float: left;
    margin-top: 2em;
    width: 75%;
}

/**
 * @section        avatar
 */
.avatar {
    @extend %circleAvatar;
    margin: .5em;
}

/**
 * @section        primaryAvatar
 */
.primaryAvatar {
    height: 120px;
    width: 120px;
}

/**
 * @section        secondaryAvatar
 */
.secondaryAvatar {
    margin: .5em;
}

/**
 * @section        friendAvatar
 */
.friendAvatar {
    height: 32px;
    margin: .5em;
    width: 32px;
}
