/**
 * @description    styling for the introduction class
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-11 15:51
 *
 *
 *     @example
 *                 <section class="introduction"></section>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        introduction
 */
.introduction {

    img {
        float: left;
        margin-bottom: 1em;
        margin-right: 1em;
    }

}
