/**
 * @description    styling for the profile module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-21 18:46
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        profile
 */
.profile {
    position: relative;
}

/**
 * @section        profileWrapper
 */
.profileWrapper {
    position: relative;
}

/**
 * @section        profileCover
 */
.profileCover {
    background: transparent center no-repeat;
    @include background-size(cover);

    height: 400px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
