/**
 * @description    styling for the brandLogo class
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-10 10:48
 *
 *
 *     @example
 *                 <a class="brandLogo" href="/">AgilityDiary</a>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        brandLogo
 */
.brandLogo {
    color: $color-copy;
    display: inline-block;
    @include font-size(2.0);
    font-weight: bold;

    &:hover {
        text-decoration: none;
    }

    .navPrimary & {
        margin-right: 2em;
        padding-bottom: 0;
    }
}
