/**
 * @description    styling for the quickSearch module
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.2
 *        @date    2014-02-26 10:57
 *
 *
 *     @example
  *
 *        @type    module
 *       @notes
 */

/**
 * @section        quickSearch
 */
.quickSearch {
    display: inline-block;
    float: right;
    padding: .25em;
    text-align: right;
    width: auto;

    input {
        background: $color-quick-search-bg;
        @include border-radius(0);
        @include border-left-radius(.25em);
        margin: 0;
        text-align: left;
    }

    .action {
        @include border-radius(0);
        @include border-right-radius(.25em);
        @include font-size(2.0);
        padding: .5em .6em;
    }
}

/**
 * @section        searching
 */
.searching {
    border: solid 1px red;
}

/**
 * @section        searchResults
 */
.searchResults {
    background: $color-white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 1.5em;
    text-align: left;
    width: 50%;
    z-index: 9999;

    ul, li {
        @extend %zeroList;
    }

    li {
        clear: both;
        overflow: hidden;
        padding: .25em .5em;
        position: relative;

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:hover {
            background: $color-quick-search-hover;
            color: $color-white;
            cursor: pointer;
            overflow: hidden;
        }
    }

    i {
        margin-right: .5em;
    }

    img {
        float: left;
    }
}

/**
 * @section        meta
 */
.meta {
    float: left;
    margin-left: 1em;
}


/**
 * @section        metaDetail
 */
.metaDetail {
    @include font-size(1.2);
}
