/**
 * @projectDescription    AgilityDiary
 *               @file    styles.css
 *             @author    Kristina Auckland <Kristina.Auckland@gmail.com>
 *            @version    0.1
 *               @date    2014-02-08 17:22
 *              @notes    NB. This is the master Sass file which imports all the partials.
 *                        No CSS should be written in this file.
 */
/*! Please be aware that styles.css is a generated file and has been built using SCSS */
/**
 * @section        Compass
 *   @notes        http://compass-style.org/install/
 *                 $ gem update --system
 *                 $ gem install compass
 */
/**
 * @section        Susy Grid
 *   @notes        http://susy.oddbird.net/guides/
 *                 $ gem install susy
 */
/**
 * @section        Settings
 */
/**
 * @description    Susy Settings - Set up your default grid values: total columns, column width, and gutter width.
 *
 *      @author    http://susy.oddbird.net/
 *     @version    0.1
 *        @date    2017-02-08 18:57
 *
 *     @example
 *
 *        @type    settings
 *       @notes    The breakpoint variables use colour coding. The .globalHeader class has debgging which
 *                 can be enabled to view the matching colours in the background of the .globalHeader in
 *                 the front end.
 *      @ignore
 *
 */
/**
 * @section        settings
 *   @notes        default size 0px - 576px
 */
/**
 * @section        736 - PURPLE
 *   @notes        (min-width: 321px) and (max-width: 480px)
 */
/**
 * @section        736 - RED
 *   @notes        (min-width: 576px) and (max-width: 736px)
 */
/**
 * @section        736 - PINK
 *   @notes        (min-width: 576px)
 */
/**
 * @section        816 - BLUE
 *   @notes        (min-width: 736px) and (max-width: 816px)
 */
/**
 * @section        816 - YELLOW
 *   @notes        (max-width: 816px)
 */
/**
 * @section        976 - GREEN
 *   @notes        (min-width: 816px)
 */
/**
 * @section        Variables
 */
/**
 * @description    Colour palette
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-08 19:21
 *
 *
 *     @example
 *
 *
 *        @type    variables
 *       @notes
 *      @ignore
 *
 */
/**
* @section        Base colours
*/
/**
* @section        Set Brand Colour
*/
/**
* @section        Social icon colours
*/
/**
* @section        Colour complementary
*/
/**
* @section        Colour
*/
/**
 * @section        Mixins
 */
/**
 * @description    font-sizing mixin
 *
 *      @author    http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
 *     @version    0.1
 *        @date    2013-05-14 09:57
 *
 *
 *     @example    @include font-size(1.6);
 *
 *
 *        @type    mixin
 *       @notes    returns rem and fall-back px values
 *      @ignore
 */
/**
 * @section        font-size
 */
/**
 * @description    font stack mixins
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-08 18:57
 *
 *
 *     @example
 *
 *        @type    mixin
 *       @notes
 *      @ignore
 */
/**
 *     @section   import fonts
 */
/**
 *     @section   default-font-stack
 */
/**
 *     @section   headline-font-stack
 */
/**
 *     @section   logo-font-stack
 */
/**
 *     @section   contrast-font-stack
 */
/**
 * @description    rgba-bg mixin
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-05-14 09:57
 *
 *
 *     @example
 *
 *
 *        @type    mixin
 *       @notes    converts hex value to rgb along with alpha
 *      @ignore
 */
/**
 * @section        rgba-bg
 */
/**
 * @description    mq-support mixin
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-08-08 16:55
 *
 *
 *     @example    @include mq-support(45em)
 *
 *
 *        @type    mixin
 *       @notes    http://seesparkbox.com/foundry/structuring_and_serving_styles_for_older_browsers
 *                 adjusted to work with Compass and Susy grids.
 *      @ignore
 */
/**
 * @section        mq-support
 */
/**
 * @section        Placeholders
 */
/**
 * @section        Global
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * @description    normalize reset stylesheet
 *
 *      @author    normalize.css v2.1.2 | MIT License | git.io/normalize
 *     @version    2.1.2
 *        @date    2013-05-14 09:57
 *
 *        @type    global reset
 *       @notes
 *      @ignore
 */
/**
 *     @section   HTML5 display definitions
 *       @notes   Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
hgroup,
main,
section,
summary {
  display: block;
}

/**
 *       @notes   Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 *       @notes   Prevents modern browsers from displaying `audio` without controls.
 *                Remove excess height in iOS 5 devices.
 *
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 *       @notes   Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/**
 *       @notes   Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 *       @notes   Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 *       @notes   Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 *       @notes   Addresses styling not present in IE 8/9.
 */
mark {
  background: #dfcdb4;
  color: #262626;
}

/**
 *       @notes   Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 *       @notes   Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 *       @notes   Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 *       @notes   Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 *       @notes   Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 *       @notes   Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 *       @notes   Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/**
 *       @notes   1. Corrects font family not being inherited in all browsers.
 *                2. Corrects font size not being inherited in all browsers.
 *                3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/**
 *       @notes   Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 *                the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 *       @notes   Address inconsistent `text-transform` inheritance for `button` and `select`.
 *                All other form control elements do not inherit `text-transform` values.
 *                Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 *                Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 *       @notes   1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *                   and `video` controls.
 *                2. Corrects inability to style clickable `input` types in iOS.
 *                3. Improves usability and consistency of cursor style between image-type
 *                   `input` and others.
 *
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 *       @notes   Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 *       @notes   1. Address box sizing set to `content-box` in IE 8/9.
 *                2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 *       @notes   1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 *                2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *                   (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/**
 *       @notes   Removes inner padding and search cancel button in Safari 5 and Chrome
 *                on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 *       @notes   Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 *       @notes   1. Removes default vertical scrollbar in IE 8/9.
 *                2. Allow only vertical resizing of textareas.
 *                3. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/**
 * @section        Elements
 */
/**
 * @description    Styling for the html element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-04 15:51
 *
 *
 *     @example
 *                 <html></html>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        html
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  overflow-y: scroll;
}

/**
 * @description    Creates the default styling for the body element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-08 18:58
 *
 *
 *     @example
 *                 <body>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        body
 */
body {
  font-size: 12px;
  font-size: 1.2rem;
  background: white;
  color: #343434;
  line-height: 1.4;
  margin: 0;
  padding-bottom: 600px;
}
@media (min-width: 576px) and (max-width: 736px) {
  body {
    font-size: 15px;
    font-size: 1.5rem;
  }
}
@media (min-width: 736px) and (max-width: 816px) {
  body {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

/**
 * @description    Creates the default styling for links
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-26 12:13
 *
 *
 *     @example
 *                 <a href=""></a>
 *
 *
 *        @type    element
 *       @notes    ensure pseudo classes are ordered:
 *                      :link
 *                      :visited
 *                      :hover
 *                      :focus
 *                      :active
 */
/**
 * @section        a
 */
a {
  color: #73afaa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}
a[href^="tel:"] {
  color: #262626;
  cursor: default;
  text-decoration: none;
}
a[href^="tel:"]:before {
  content: "\260E";
  display: inline-block;
  margin-right: 0.5em;
}
a img {
  border: none;
}

/**
 * @description    Heading styles
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-03 16:43
 *
 *
 *     @example
 *                 <h1></h1>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        h1
 */
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  text-shadow: 2px 2px 1px #1A1919;
}

/**
 * @section        h1,h2,h3,h4,h5,h6
 */
/**
 * @section        h2
 */
h2 {
  font-size: 42px;
  font-size: 4.2rem;
}

/**
 * @section        h3
 */
h3 {
  font-size: 26px;
  font-size: 2.6rem;
}

/**
 * @section        h4
 */
h4 {
  font-size: 20px;
  font-size: 2rem;
}

/**
 * @section        h5
 */
h5 {
  font-size: 18px;
  font-size: 1.8rem;
}

/**
 * @section        h6
 */
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}

/**
 * @description    Styling for the nav element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-03 17:13
 *
 *
 *     @example
 *                 <nav></nav>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        nav
 */
nav a {
  text-decoration: none;
}
.lt-ie9 nav {
  display: block;
}
nav ul,
nav ol,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * @description    Styling for the strong element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-03 16:44
 *
 *
 *     @example
 *                 <strong></strong>
 *
 *
 *        @type    element
 *       @notes    Also covers styling for <b>
 */
/**
 * @section        strong
 */
b,
strong {
  font-weight: bold;
}

/**
 *     @section    Elements
 * @sub-section    Table
 */
/**
 *     @section    Elements
 * @sub-section    Form
 */
/**
 * @description    Form styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:48
 *
 *
 *     @example
 *                 <form>
</form>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        form
 */
form {
  margin-bottom: 1em;
  padding: 1em;
}
form > :first-child {
  margin-top: 0;
}

/**
 * @description    fieldset styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:50
 *
 *
 *     @example
 *                 <fieldset>
 *                 </fieldset>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        fieldset
 */
fieldset {
  border: none;
  margin: 0;
  padding: 0 0 1em 0;
}

/**
 * @description    legend styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:51
 *
 *
 *     @example
 *                 <legend>
 *                 </legend>
 *
 *
 *        @type    element
 *       @notes    1. Corrects color not being inherited in IE 8/9.
 *                 2. Remove padding so people aren't caught out if they zero out fieldsets.
 *                 3. Corrects text not wrapping in Firefox 3.
 */
/**
 * @section        legend
 */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/**
 * @description    label styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:53
 *
 *
 *     @example
 *                 <label for="quickEnquiry_email">Email address</label>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        label
 */
label {
  cursor: pointer;
  display: block;
  padding: 1em 0;
}

/**
 * @description    textarea styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:53
 *
 *
 *     @example
 *                 <textarea></textarea>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        textarea
 */
textarea {
  margin: .5em 0;
  padding: .5em;
  width: 100%;
}

/**
 * @description    input styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:53
 *
 *
 *     @example
 *                 <input></input>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        input
 */
input {
  margin: .5em 0;
  padding: .5em;
}
input[type="email"] {
  width: 100%;
}

/**
 * @description    button styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-22 10:53
 *
 *
 *     @example
 *                 <button></button>
 *
 *
 *        @type    element
 *       @notes
 */
/**
 * @section        button
 */
/**
 * @section        Layout
 */
/**
 * @description    Styling for the main layout wrapper
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-02 18:04
 *
 *
 *     @example
 *                 <div class="layoutWrapper">
 *
 *                 </div>
 *
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutWrapper
 */
.layoutWrapper {
  background: #262626 no-repeat bottom right;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  z-index: 3;
}

/**
 * @description    Styling for the layout header
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-08 18:25
 *
 *
 *     @example
 *                 <header class="layoutHeader" role="banner">
 *
 *                 </header>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutHeader
 */
.layoutHeader {
  background: #73afaa;
  display: block;
  left: 0;
  height: 125px;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

/**
 * @description    Stying for the main layout footer
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-02 17:57
 *
 *
 *     @example
 *                 <footer class="layoutFooter" role="contentinfo">
 *
 *                 </footer>
 *
 *        @type    layout
 *       @notes
 */
/**
 * @section        layoutFooter
 */
.layoutFooter {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  color: #d8d8d8;
  display: block;
  left: 0;
  padding: 2em 0 100px 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 0;
}
.layoutFooter:after {
  content: "";
  display: table;
  clear: both;
}
.layoutFooter form {
  text-align: left;
}

/**
 * @section        Navigation
 */
/**
 * @description    Styling for the primary navigation
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-03 17:12
 *
 *
 *     @example
 *                 <nav class="navPrimary">
 *
 *                 </nav>
 *
 *        @type    navigation
 *       @notes
 *
 */
/**
 * @section        navPrimary
 */
.navPrimary {
  text-align: center;
}
.navPrimary a {
  color: #262626;
  display: inline-block;
  font-weight: bold;
  padding: 1em;
}
.navPrimary a.active, .navPrimary a:hover {
  color: #d8d8d8;
  text-decoration: none;
}
.navPrimary .active {
  font-weight: bold;
}

/**
 * @section        Modules
 */
/**
 * @section        Plugins
 */
/**
 * @section        Helpers
 */
/**
 * @section        Media
 */
/**
 * @section        Development
 */
