/**
 * @description    Colour palette
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-08 19:21
 *
 *
 *     @example
 *
 *
 *        @type    variables
 *       @notes
 *      @ignore
 *
 */

/**
* @section        Base colours
*/
$color-black:             #000;
$color-white:             #fff;
$color-red:               #b02035;

/**
* @section        Set Brand Colour
*/
$color-brand:   #73afaa;

/**
* @section        Social icon colours
*/
$color-social-bg:   lighten($color-black, 15%); // output = #262626
$color-twitter:     #02aced; // https://twitter.com/logo
$color-facebook:    #3b5998; //
$color-linkedin:    #4875b4; // http://developer.linkedin.com/documents/branding-guidelines


/**
* @section        Colour complementary
*/
$color-brand-complementary1:    #dfcdb4;
$color-brand-complementary2:    #fbeed3;

/**
* @section        Colour
*/
$color-layout-header-bg    :    $color-white;
$color-layout-wrapper-bg   :    lighten($color-black, 15%); // output = #262626

$color-body-bg             :    $color-white;
$color-body-copy           :    lighten($color-black, 20.5%); // output = #343434

$color-wrapper-bg          :    $color-white;

$color-copy                :    lighten($color-black, 15%); // output = #262626
$color-link                :    $color-brand;

$color-profile-header-bg   :    rgba(0,0,0,0.5);
$color-hero-bg             :    rgba(0,0,0,0.5);
$color-panel-bg            :    #faf6ec;

$color-quick-search-bg     :    $color-white;
$color-quick-search-hover  :    $color-brand;

$color-layout-footer-bg    :    $color-white;
$color-footer-copy         :    #d8d8d8;

$color-nav-primary         :    lighten($color-black, 15%); // output = #262626
$color-nav-primary-hover   :    $color-white;
$color-nav-primary-active  :    $color-white;

$color-tab                 :    $color-brand;
$color-tab-hover           :    darken($color-brand, 10%);

$color-action              :    $color-brand;
$color-action-copy         :    $color-white;

$color-warning             :    $color-red;

$color-border              :    lighten($color-black, 83%); // output = #d4d4d4
$color-shadow              :    #ddd;
$color-drop-shadow         :    darken($color-white, 13%); // output = #dedede

$color-mark                :    rgba(0,0,0,0.1);
$color-selection           :    rgba(0,0,0,0.1);

$color-show                :    green;
$color-hide                :    red;
