<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>



<section class="main profile dynamicProfile">

	<div class="container">

		<nav class="tabs">
			<a class="active" ng-href="/account">Profile</a>
			<a ng-href="/account/dogs">My dogs</a>
      <span ng-show="!profile.Dogs.length"><a ng-href="#/dogs/add">Add a dog</a></span>
			<a ng-href="/account/security">Security</a>
			<a ng-href="/account/linked-accounts">Linked accounts</a>
		</nav>

		<h1>My profile</h1>

		<div class="formField formUpload">
			<label for="Email">Current picture</label>
			<span class="avatar primaryAvatar">
				<img ng-src="{{ profile.User.profile.picture | imageSize: '128x128' }}" />
			</span>
		</div>


		<div class="formField formUpload">
			<label for="Email">Photo</label>
			<div class="action uploadImage" id="uploadProfileImage" style=""><i class="fa fa-upload"></i> Upload Photo
				<span class="dz-message"></span>
				<span data-dz-name=""></span>
				<span data-dz-details=""></span>
				<span data-dz-size=""></span>
				<span data-dz-errormessage=""></span>
			</div>
		</div>

		<div class="formField formContent">
			<p>Change your avatar by dragging a photo here</p>
		</div>

		<div class="formField formUpload">
			<label for="Email">Header</label>

			<div class="action uploadImage" id="uploadProfileBackgroundImage" style=""><i class="fa fa-upload"></i> Upload Photo
				<span class="dz-message"></span>
				<span data-dz-name=""></span>
				<span data-dz-details=""></span>
				<span data-dz-size=""></span>
				<span data-dz-errormessage=""></span>
			</div>
		</div>

		<div class="formField formContent">
			<p>Change your background by dragging a photo here</p>
		</div>

		<!--<div class="formField formColourScheme">
			<label for="Email">Colour scheme</label>
			<div ng-repeat="colourLoop in profile.User.profile.colours">
				<div style="background-color: {{ colourLoop.colour }}">&nbsp;
					<button ng-click="setThemeMainColour(colourLoop.colour);">Make this the profile colour</button>
				</div>
			</div>
			<div style="background-color: #fff">&nbsp;
				<button ng-click="setThemeMainColour('#fff');">Make this the profile colour</button>
			</div>
		</div>-->


		<form name="form" parsley-validate action='/account/profile' method='POST'>
			<div class="formField formInput formEmail">
				<label for="Name">Name</label>
				<input id="Name"
					name="Name"
					type="text"
					ng-model="controls.name" />
			</div>

			<div class="formField formInput formEmail">
				<label for="Email">Email</label>
				<input id="Email"
					name="Email"
					type="email"
					ng-model="controls.email"
					parsley-type="email" />
			</div>



			<div class="formField formInput formTextarea">
				<label for="bio">Bio</label>
				<textarea id="bio"
					type="text"
					ng-model="controls.bio"></textarea>
			</div>

			<div class="formField formInput formText">
				<label for="location">Location</label>
				<input id="location"
					type="text"
					ng-model="controls.location" />
			</div>

			<div class="formField formInput formURL">
				<label for="website">Website</label>
				<input id="website"
					type="url"
					ng-model="controls.location" />
			</div>

			<div class="formField formInput formText">
				<label for="twitterHandle">Twitter handle</label>
				<input id="twitterHandle"
					type="text"
					ng-model="controls.location" />
			</div>

			<div class="formField formInput formCheckbox">
				<input id="IamAJudge"
					type="checkbox"
					ng-model="controls.location" />
				<label for="IamAJudge">I am a Judge</label>
			</div>

			<div class="formField formInput formCheckbox">
				<input id="IamATrainer"
					type="checkbox"
					ng-model="controls.location" />
				<label for="IamATrainer">I am a Trainer</label>
			</div>



			<div class="formField formActions">
				<button class="action" ng-click="updateUser();">
					Save
				</button>
			</div>
		</form>




	</div>
</section>
