<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>



<section class="main profile dynamicProfile">

	<div class="container">

		<nav class="tabs">
			<a ng-href="/account">Profile</a>
			<a ng-href="/account/security">Security</a>
			<a class="active"  ng-href="/account/linked-accounts">Linked accounts</a>
		</nav>

		<h1>Linked accounts</h1>
		<!-- if user.google -->
			<p><a href="/account/unlink/google" class="action warning">Unlink your Google account</a></p>
		<!-- else -->
			<p><a href="/auth/google" class="action">Link your Google account</a></p>

		<!-- if user.facebook -->
			<p><a href="/account/unlink/facebook" class="action warning">Unlink your Facebook account</a></p>
		<!-- else -->
			<p><a href="/auth/facebook" class="action">Link your Facebook account</a></p>

		<!-- if user.twitter -->
			<p><a href="/account/unlink/twitter" class="action warning">Unlink your Twitter account</a></p>
		<!-- else -->
			<p><a href="/auth/twitter" class="action">Link your Twitter account</a></p>

	</div>
</section>
