<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>



<section class="main profile dynamicProfile">

	<div class="container">

		<nav class="navTabs">
			<a ng-href="/account">Profile</a>
      <a ng-href="/account/dogs">My dogs</a>
      <span ng-show="!profile.Dogs.length"><a ng-href="#/dogs/add">Add a dog</a></span>
			<a class="active" ng-href="/account/security">Security</a>
			<a ng-href="/account/linked-accounts">Linked accounts</a>
		</nav>

    <h1>Security</h1>

		<h2>Change password</h2>

		<form name="form" parsley-validate>
			<div class="formField formInput formPassword">
				<label for="Password">New password</label>
				<input id="Password" name="Password" type="password" />
			</div>

			<div class="formField formInput formPassword">
				<label for="confirmPassword">Confirm password</label>
				<input id="confirmPassword" name="confirmPassword" type="password" />
			</div>

			<div class="formActions">
				<button class="action" ng-click="saveDog();">
					Change password
				</button>
			</div>
		</form>


	</div>
</section>
