<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>



<section class="main profile dynamicProfile">

	<!-- <div ng-include src="'app/views/shared/header.html'"></div> -->

	<div class="container">

		<nav class="tabs">
			<a ng-href="/account">Profile</a>
			<a class="active" ng-href="/account/security">Security</a>
			<a ng-href="/account/linked-accounts">Linked accounts</a>
		</nav>

		<div class="contentWrapper">
			<div class="contentMain">


				<h2>Change password</h2>
				<form name="form" parsley-validate>
					<div class="formField formInput formPassword">
						<label for="Password">New password</label>
						<input id="Password" name="Password" type="password" />
					</div>

					<div class="formField formInput formPassword">
						<label for="confirmPassword">Confirm password</label>
						<input id="confirmPassword" name="confirmPassword" type="password" />
					</div>

					<div class="formActions">
						<button class="action" ng-click="saveDog();">
							Change password
						</button>
					</div>
				</form>



			</div>
			<div class="contentSub">

				<p><a href="/logout" class="action warning">Logout</a></p>

			</div>
		</div>


	</div>
</section>
