/**
 * @description    styling for the brandLogo class
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-03 10:49
 *
 *
 *     @example
 *                 <a class="brandLogo" href="/">Zen Logic</a>
 *
 *        @type    module
 *       @notes
 */

/**
 * @section        brandLogo
 */
.brandLogo {
    background-repeat: no-repeat;
    bottom: 1em;
    left: 0;
    display: block;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 275px;

    img {
        text-align: center;
    }

    span {
        @extend %visuallyhidden;
    }
}
