lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules


mongodb/bin/data
mongodb/data
public/app/bower_components/angular-cookies/.bower.json
public/app/bower_components/angular-cookies/README.md
public/app/bower_components/angular-cookies/angular-cookies.js
public/app/bower_components/angular-cookies/angular-cookies.min.js
public/app/bower_components/angular-cookies/angular-cookies.min.js.map
public/app/bower_components/angular-cookies/bower.json
public/app/bower_components/angular-mocks/.bower.json
public/app/bower_components/angular-mocks/README.md
public/app/bower_components/angular-mocks/angular-mocks.js
public/app/bower_components/angular-mocks/bower.json
public/app/bower_components/angular-resource/.bower.json
public/app/bower_components/angular-resource/README.md
public/app/bower_components/angular-resource/angular-resource.js
public/app/bower_components/angular-resource/angular-resource.min.js
public/app/bower_components/angular-resource/angular-resource.min.js.map
public/app/bower_components/angular-resource/bower.json
public/app/bower_components/angular-route/.bower.json
public/app/bower_components/angular-route/README.md
public/app/bower_components/angular-route/angular-route.js
public/app/bower_components/angular-route/angular-route.min.js
public/app/bower_components/angular-route/angular-route.min.js.map
public/app/bower_components/angular-route/bower.json
public/app/bower_components/angular-sanitize/.bower.json
public/app/bower_components/angular-sanitize/README.md
public/app/bower_components/angular-sanitize/angular-sanitize.js
public/app/bower_components/angular-sanitize/angular-sanitize.min.js
public/app/bower_components/angular-sanitize/angular-sanitize.min.js.map
public/app/bower_components/angular-sanitize/bower.json
public/app/bower_components/angular-scenario/.bower.json
public/app/bower_components/angular-scenario/README.md
public/app/bower_components/angular-scenario/angular-scenario.js
public/app/bower_components/angular-scenario/bower.json
public/app/bower_components/angular-scenario/jstd-scenario-adapter-config.js
public/app/bower_components/angular-scenario/jstd-scenario-adapter.js
public/app/bower_components/angular/.bower.json
public/app/bower_components/angular/README.md
public/app/bower_components/angular/angular-csp.css
public/app/bower_components/angular/angular.js
public/app/bower_components/angular/angular.min.js
public/app/bower_components/angular/angular.min.js.gzip
public/app/bower_components/angular/angular.min.js.map
public/app/bower_components/angular/bower.json
public/app/bower_components/es5-shim/.bower.json
public/app/bower_components/es5-shim/.gitignore
public/app/bower_components/es5-shim/CHANGES
public/app/bower_components/es5-shim/CONTRIBUTORS.md
public/app/bower_components/es5-shim/LICENSE
public/app/bower_components/es5-shim/README.md
public/app/bower_components/es5-shim/es5-sham.js
public/app/bower_components/es5-shim/es5-sham.map
public/app/bower_components/es5-shim/es5-sham.min.js
public/app/bower_components/es5-shim/es5-shim.js
public/app/bower_components/es5-shim/es5-shim.map
public/app/bower_components/es5-shim/es5-shim.min.js
public/app/bower_components/es5-shim/package.json
public/app/bower_components/es5-shim/tests/helpers/h-kill.js
public/app/bower_components/es5-shim/tests/helpers/h-matchers.js
public/app/bower_components/es5-shim/tests/helpers/h.js
public/app/bower_components/es5-shim/tests/index.html
public/app/bower_components/es5-shim/tests/index.min.html
public/app/bower_components/es5-shim/tests/lib/jasmine-html.js
public/app/bower_components/es5-shim/tests/lib/jasmine.css
public/app/bower_components/es5-shim/tests/lib/jasmine.js
public/app/bower_components/es5-shim/tests/lib/jasmine_favicon.png
public/app/bower_components/es5-shim/tests/lib/json2.js
public/app/bower_components/es5-shim/tests/spec/s-array.js
public/app/bower_components/es5-shim/tests/spec/s-date.js
public/app/bower_components/es5-shim/tests/spec/s-function.js
public/app/bower_components/es5-shim/tests/spec/s-number.js
public/app/bower_components/es5-shim/tests/spec/s-object.js
public/app/bower_components/es5-shim/tests/spec/s-string.js
public/app/bower_components/json3/.bower.json
public/app/bower_components/json3/LICENSE
public/app/bower_components/json3/README.md
public/app/bower_components/json3/bower.json
public/app/bower_components/json3/lib/json3.js
public/app/bower_components/json3/lib/json3.min.js
public/app/bower_components/underscore/.bower.json
public/app/bower_components/underscore/.gitignore
public/app/bower_components/underscore/.travis.yml
public/app/bower_components/underscore/CNAME
public/app/bower_components/underscore/CONTRIBUTING.md
public/app/bower_components/underscore/LICENSE
public/app/bower_components/underscore/README.md
public/app/bower_components/underscore/Rakefile
public/app/bower_components/underscore/docs/docco.css
public/app/bower_components/underscore/docs/favicon.ico
public/app/bower_components/underscore/docs/images/background.png
public/app/bower_components/underscore/docs/images/underscore.png
public/app/bower_components/underscore/docs/public/fonts/aller-bold.eot
public/app/bower_components/underscore/docs/public/fonts/aller-bold.ttf
public/app/bower_components/underscore/docs/public/fonts/aller-bold.woff
public/app/bower_components/underscore/docs/public/fonts/aller-light.eot
public/app/bower_components/underscore/docs/public/fonts/aller-light.ttf
public/app/bower_components/underscore/docs/public/fonts/aller-light.woff
public/app/bower_components/underscore/docs/public/fonts/novecento-bold.eot
public/app/bower_components/underscore/docs/public/fonts/novecento-bold.ttf
public/app/bower_components/underscore/docs/public/fonts/novecento-bold.woff
public/app/bower_components/underscore/docs/public/stylesheets/normalize.css
public/app/bower_components/underscore/docs/underscore.html
public/app/bower_components/underscore/favicon.ico
public/app/bower_components/underscore/index.html
public/app/bower_components/underscore/package.json
public/app/bower_components/underscore/test/arrays.js
public/app/bower_components/underscore/test/chaining.js
public/app/bower_components/underscore/test/collections.js
public/app/bower_components/underscore/test/functions.js
public/app/bower_components/underscore/test/index.html
public/app/bower_components/underscore/test/objects.js
public/app/bower_components/underscore/test/speed.js
public/app/bower_components/underscore/test/utility.js
public/app/bower_components/underscore/test/vendor/jquery.js
public/app/bower_components/underscore/test/vendor/jslitmus.js
public/app/bower_components/underscore/test/vendor/qunit.css
public/app/bower_components/underscore/test/vendor/qunit.js
public/app/bower_components/underscore/test/vendor/runner.js
public/app/bower_components/underscore/underscore-min.js
public/app/bower_components/underscore/underscore-min.map
public/app/bower_components/underscore/underscore.js
workspace/photos
workspace/uploads
