footer.layoutFooter
  .container
    nav.navFooter
      a(href='/contact') Contact |
      a(href='/feedback') Site Feedback |
      a(href='/roadmap') Road map |
    section.copyright
      | &copy; 2013 - 2014 AgilityDiary. All rights reserved.
