nav.navPrimary(role='navigation')
  if !user
    a(href='/signup') Sign up
  if user
    a(href='/account') My Account
    if 1==2
      a(href='/logout') Logout
      a(class=title=='Account Management'?'active':undefined, href='/account', data-toggle='dropdown')
        if user.profile.picture
          img.profile-image(src='#{user.profile.picture}')
        | #{user.profile.name || user.email || user.id}&nbsp;
        i.caret
      a(href='/account') My Account
