<div>

	<div ng-repeat="comment in commentList">
		<img ng-src="{{ comment.User.profile.picture }}_80x60" /> <span ng-bind="comment.User.profile.name"></span>
		on <span ng-bind="comment.DateTime|date:'medium'"></span>
		<div ng-bind="comment.Message" ></div>
	</div>


	<form name="commentsForm">
		<div class="formField formTextarea">
			<label for="message">Comment</label>
			<textarea id="message" name="message" ng-required="true" ng-model="message"></textarea>
		</div>

		<div class="formField formActions">
			<button class="action" ng-click="addComment()">Post comment</button>
		</div>
	</form>
</div>
