<div>

	<div ng-repeat="comment in commentList" style=" clear:left; padding: 1em;">
		<div style="float:left; ">
			<img ng-src="{{ comment.User.profile.picture }}_24x24" />
		</div>

		<div style="float:left; padding-left: 1em;">
			<a ng-href="/people/{{ comment.User._id }}"><span ng-bind="comment.User.profile.name"></span></a>

			<div ng-bind="comment.Message" ></div>

			<span  style="font-size: 0.8em" >
				<span ng-bind="comment.DateTime|date:'MMM'"></span>
				<span ng-bind="comment.DateTime|date:'d'"></span>
				at
				<span ng-bind="comment.DateTime|date:'H'"></span>:
				<span ng-bind="comment.DateTime|date:'mm'"></span>
			</span>
		</div>
	</div>

	<form name="commentsForm" style="clear:left;">
		<div class="formField formTextarea">
			<label ng-show="commentList.length==0" for="message">Comment</label>
			<textarea id="message" name="message" ng-required="true" ng-model="message"></textarea>
		</div>

		<div class="formField formActions">
			<button class="action" ng-click="addComment()">Post comment</button>
		</div>
	</form>
</div>
