	<section class="quickSearch">
		<input type="search" ng-class="quicksearch.cssClass" placeholder="Search" ng-model="quicksearch.query" ng-change="quicksearch.change();" />
		<i class="action fa fa-search"></i>

		<div class="searchResults">
			<ul>

				<li ng-repeat="result in quicksearch.results.Results"
					ng-click="navigateToItem(result.Path);"
					ng-show="quicksearch.results.Results.length !== 0"
					title="{{ result.Type}}">

					<img src="{{ result.ImagePath | imageSize: '64x64' }}" />

					<div class="meta">
						<span ng-bind="result.Name" ></span>
						<span ng-bind-html="result.Details"></span>
					</div>

				</li>

				<li ng-show="quicksearch.results.Results && quicksearch.results.Results.length !== 0">
					<hr />
					<a href="">View results on map</a>
				</li>

				<li ng-show="quicksearch.results.Results.length === 0">
					Nothing found, please try searching again.
				</li>
			</ul>
		</div>

	</section>
