/**
 * @description    Styling for the paging navigation
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-03-01 16:26
 *
 *
 *     @example
 *                 <nav class="navPaging">
 *
 *                 </nav>
 *
 *        @type    navigation
 *       @notes
 *
 */

/**
 * @section        navPaging
 */
.navPaging {
    padding: 1em;
    text-align: center;

    a {
        padding: .25em .5em;

        &.active,
        &:hover {
            text-decoration: none;
        }

    }

    .selected {
        border: 1px solid $color-border;
        font-weight: bold;
    }

}
