/**
 * @description    Styling for the primary navigation
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-10 10:58
 *
 *
 *     @example
 *                 <nav class="navPrimary">
 *
 *                 </nav>
 *
 *        @type    navigation
 *       @notes
 *
 */

/**
 * @section        navPrimary
 */
.navPrimary {
    border-right: 1px solid #fff;
    float: left;
    display: inline-block;
    text-align: center;

    a {
        border-left: 1px solid #fff;
        border-right: 1px solid #d5d5d5;
        color: $color-nav-primary;
        display: inline-block;
        margin: 0;
        padding: .5em 1em;
        text-shadow: 1px 1px 1px $color-text-shadow;

        &.active,
        &:hover {
            background: $color-nav-primary-hover;
            @include background-image(linear-gradient(#e5e5e5, #fff));
            text-decoration: none;
        }

    }

    .active {

    }

    span {
        @extend %visuallyhidden;
    }

}
