<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>



<section class="main profile dynamicProfile">

	<div ng-include src="'app/views/shared/header.html'"></div>


	<div class="container">

		<h1 style="clear:both;">Change your background by dragging a photo here</h1>
		<div class="action uploadImage" id="uploadProfileBackgroundImage" style=""><i class="fa fa-upload"></i> Upload Photo

			<span class="dz-message"></span>
			<span data-dz-name=""></span>
			<span data-dz-details=""></span>
			<span data-dz-size=""></span>
			<span data-dz-errormessage=""></span>
		</div>


		<h1>Change your avatar by dragging a photo here</h1>
		<div class="action uploadImage" id="uploadProfileImage" style=""><i class="fa fa-upload"></i> Upload Photo
			<span class="dz-message"></span>
			<span data-dz-name=""></span>
			<span data-dz-details=""></span>
			 <span data-dz-size=""></span>
			 <span data-dz-errormessage=""></span>
		</div>


		<div ng-repeat="colourLoop in profile.User.profile.colours">
			<div style="background-color: {{ colourLoop.colour }}">&nbsp;
				<button ng-click="setThemeMainColour(colourLoop.colour);">Make this the profile colour</button>
			</div>

		</div>
		<div style="background-color: #fff">&nbsp;
				<button ng-click="setThemeMainColour('#fff');">Make this the profile colour</button>
			</div>
</div>
