<section class="list">

	<div class="container">
		<nav class="tabs">
			<a class="active" href="#/shows/upcoming">Everyone</a>
			<a href="#/shows/upcoming">Following</a>
		</nav>


		<ul class="peopleList">
			<li class="person" ng-repeat="loopUser in listUsers">
				<img src="{{ loopUser.profile.picture | imageSize: '36x36' }}" />

				<a ng-href="/people/{{ loopUser._id }}"><span ng-bind="loopUser.profile.name"></span></a>

				<span ng-bind="profile.User.profile.bio"></span>

				<span ng-bind="profile.User.profile.location"></span>

				<button class="action" ng-hide="loopUser.isFriend" ng-click="addFriend(loopUser);">Follow</button>

				<button class="action warning" ng-show="loopUser.isFriend" ng-click="removeFriend(loopUser);">Unfollow</button>
			</li>
		</ul>

	</div>
</section>
