<section class="people listView">

	<div class="container">
		<nav class="navTabs">
			<a class="active" ng-href="/people">Everyone</a>
			<a ng-href="/people/following">Following</a>
			<a ng-href="/people/trainers">Trainers</a>
			<a ng-href="/people/judges">Judges</a>
		</nav>

		<h1>People</h1>

		<p>@@My user should not appear in this list</p>

		<ul class="peopleList">
			<li class="person" ng-repeat="loopUser in listUsers">

				<div class="personAvatar">
					<img src="{{ loopUser.profile.picture || 'app/images/person/person.png' | imageSize: '36x36' }}" />
				</div>

				<div class="personDetail">

					<a ng-href="/people/{{ loopUser._id }}"><span ng-bind="loopUser.profile.name"></span></a>

					<span ng-bind="profile.User.profile.location"></span>

					<a ng-href="/people/trainers" class="tag tagTrainer">Trainer</a>
					<a ng-href="/people/judges" class="tag tagJudge">Judge</a>

					<p><span ng-bind="profile.User.profile.bio"></span></p>
				</div>

				<div class="personActions">

					<button class="action" ng-hide="loopUser.isFriend" ng-click="addFriend(loopUser);">Follow</button>

					<button class="action warning" ng-show="loopUser.isFriend" ng-click="removeFriend(loopUser);">Unfollow</button>

				</div>

			</li>
		</ul>

	</div>
</section>
