<style dynamic-style="profile" colour="publicProfile.User.profile.theme.mainColour"></style>


<section class="main profile dynamicProfile">

	<div class="profileCover" style="background-image: url({{ profile.User.profile.backgroundpicture || 'app/images/profile-background.jpg' }} )"></div>

	<div class="hero" ng-include src="'app/views/shared/heroPublic.html'"></div>

	<div class="container">
		<div class="contentWrapper">
			<section class="contentMain">

			</section>


			<section class="contentSub">
				<p><a class="action" href=""><i class="fa fa-bookmark"></i> Follow</a></p>

			</section>

		</div>
	</div>
</section>
