
<div >
  <leaflet
      id="geo-wrapper"
      elementcacheid="search/geo-wrapper"
      fullsize="true"
      center="data.leaflet.centre"
      bounds="data.leaflet.bounds"
      scrollwheelzoom="true"
      dragging="true"
      clickmarker="Location"></leaflet>
</div>

<div style="position: absolute; left: 80px; top: 80px; z-index: 1000; ">
  <input type="text" name="search" ng-model="controls.searchBox.value" placeholder="{{ controls.searchBox.placeholder }}" ng-change="controls.searchBox.change();" style=" padding: 10px; width: 800px;"/>
</div>



<div  style="position: absolute; right: 0; top: 0px; width: 300px; height: 800px; border: solid 1px black; background: white; zindex: 100; padding: 12px;">
  <div ng-repeat="event in events" style="margin-bottom: 20px;">
      <div ng-bind="event.Name" />
      club: <div ng-bind="event.Club" />
      <span ng-bind="event.ShowDate" /> to <span ng-bind="event.ShowEnd" />
      <div>closes: <span ng-bind="event.ClosingDate" /></div>

      entries to: <div ng-bind="event.EntriesTo" />

      <div ng-bind="event.Logo" ng-show="event.Logo"/>
      <div ng-bind="event.Website" ng-show="event.Website"/>

      <br/>

      <div ng-bind="event.Venue.Name" />
      <div ng-bind="event.Venue.Address" />
      <div ng-bind="event.Venue.PostCode" />

      <hr/>
  </div>
</div>




<style type="text/css">

/*
 *.mapTextMarker {
	background: rgba(0,0,0,0.5);
	border-radius: 8px;
	color: #fff;
	padding: 8px;
}*/
/* line 12, ../scss/partials/views/_map.scss */
.mapTextMarker {
  position: relative;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 12px;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  border-top: solid 1px #474747;
}
/* line 22, ../scss/partials/views/_map.scss */
.mapTextMarker img.mapAvatar {
  border-radius: 12px;
  float: left;
}
/* line 27, ../scss/partials/views/_map.scss */
.mapTextMarker span {
  top: 2px;
  position: relative;
}

/* line 33, ../scss/partials/views/_map.scss */
.mapTextMarker:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 43, ../scss/partials/views/_map.scss */
.mapTextMarker:after {
  border-top-color: rgba(34, 34, 34, 0.9);
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

</style>