[program:agilitydiarynode]
environment = NODE_ENV=production
command = node app.js
autostart = true
autorestart = true

[supervisord]
logfile = /tmp/supervisord.log
loglevel = debug
pidfile = /tmp/supervisord.pid
directory = /var/www/agilitydiary/www.agilitydiary.com/node-server

[supervisorctl]
serverurl = unix:///tmp/supervisor.sock

[unix_http_server]
file = /tmp/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
