extends layout

block content
  .page-header
    h1 Contact

  form(role='form', method='POST')
    .form-group.formText
      label(for='name') Name
      input(type='text', name='name', id='name', autofocus=true)
    .form-group.formEmail
      label(for='email') Email
      input(type='email', name='email', id='email')
    .form-group.formTextarea
      label(for='message') Message
      textarea(name='message', id='message', rows='7')
    .form-group.formSubmit
      button(type='submit')
        | Send
