<div class="bio">

	<h1>{{ dog.Profile.Name }}</h1>

	<p><a class="edit" ng-href="/account"><i class="fa fa-edit"></i> Edit profile</a></p>

	<p>@@Bio Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

	<p>
		<i class="fa fa-map-marker"></i>
		Hampshire, UK
	</p>
</div>

<div class="container avatarContainer">

	<div class="primaryAvatarContainer">
		<span ng-href="/" class="avatar primaryAvatar">
			<img ng-src="{{ dog.Profile.Photo | imageSize: '128x128' }}" />
		</span>
	</div>

	<div class="secondaryAvatarContainer" >

		<span ng-repeat="loopDog in profile.Dogs">
			<a class="avatar secondaryAvatar"

				ng-href="/dogs/{{ loopDog._id }}"
				ng-hide="loopDog._id===dog._id">
				<img ng-src="{{ loopDog.Profile.Photo || 'app/images/dog.png' | imageSize: '64x64' }}" />
			</a>

			<a class="avatar secondaryAvatar"
				ng-show="loopDog._id===dog._id"
				ng-href="/">
				<img ng-src="{{ profile.User.profile.picture || 'app/images/dog.png' | imageSize: '64x64' }}" />
			</a>

		</span>
	</div>

</div>
