<div class="bio">

	<h1><span ng-bind="profile.User.profile.name"></span></h1>

	<!-- <p><a class="edit" ng-href="#/profile"><i class="fa fa-edit"></i> Edit</a></p> -->

	<p ng-bind="profile.User.profile.bio"></p>

	<p>
		<i class="fa fa-map-marker"></i>
		<span ng-bind="profile.User.profile.location" ></span>
	</p>
</div>

<div class="container avatarContainer">

	<div class="primaryAvatarContainer">
		<a ng-href="/" class="avatar primaryAvatar">
			<img ng-src="{{ profile.User.profile.picture | imageSize: '128x128' }}" />
		</a>
	</div>

	<div class="secondaryAvatarContainer" ng-include src="'app/views/dogs/dogNav.html'">
	</div>

</div>
