<table class="tableDefault">
	<thead>
		<tr>
			<th>
				Date
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Show
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Class number
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Class type
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Class
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Time
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Faults
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Place
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Judge
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Agility Warrant Points
				<a href=""><i class="fa fa-unsorted"></i></a>
			</th>
			<th>
				Notes
			</th>
			<th>

			</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="result in dog.Results">
			<td><span ng-bind="result.Date" /></td>
			<td><span ng-bind="result.Show" /></td>
			<td></td>
			<td></td>
			<td><span ng-bind="result.Class" /></td>
			<td><span ng-bind="result.Time" /></td>
			<td><span ng-bind="result.Faults" /></td>
			<td><span ng-bind="result.Place" /> <i class="fa fa-trophy"></i></td>
			<td><span ng-bind="result.Judge" /></td>
			<td><span ng-bind="result.Points" /></td>
			<td></td>
			<td>
				<a class="action" href=""><i class="fa fa-edit"></i></a>
				<a class="action" href=""><i class="fa fa-share"></i></a><!-- post my results on my feed -->
				<a class="action warning" href=""><i class="fa fa-times"></i></a>
			</td>
		</tr>
	</tbody>

</table>
