/**
 * @description    Styling for the html element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-04 15:51
 *
 *
 *     @example
 *                 <html></html>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        html
 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
    overflow-y: scroll;
}
