/**
 * @description    Styling for the nav element
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-12-03 17:13
 *
 *
 *     @example
 *                 <nav></nav>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        nav
 */
nav {

    a {
        text-decoration: none;
    }

    .lt-ie9 & {
        display: block;
    }

    ul,
    ol,
    li {
        @extend %zeroList;

        display: inline-block;
    }

}
