<section class="details">

	<div class="container">

		<h1 ng-bind="club.name"></h1>

		<nav class="navTabs">
      <a class="active" ng-href="/clubs/details/{{ id }}">Details</a>
			<a ng-href="/clubs/photos/{{ id }}">Photos</a>
		</nav>


		<div>
			<leaflet
        class="map"
				id="geo-wrapper"
				elementcacheid="search/geo-wrapper"
				fullsize="false"
				center="centre"
				bounds="bounds"
				scrollwheelzoom="false"
				dragging="false"
				clickmarker="Location"></leaflet>
		</div>



		<div class="contentWrapper">
			<section class="contentMain">
				<h3><span ng-bind="club.name"></span></h3>

				<p>Telephone</p>
				<p>Website</p>
				<p>Email</p>

				<section class="comments">
					<h2>What's on</h2>
					<p>@@list club events - with link and date</p>
				</section>

				<section class="comments">
					<h2>Comments</h2>
					<comments item="id"></comments>
				</section>

			</section>




			<section class="contentSub">

        <p><a class="action" href=""><i class="fa fa-bookmark"></i> Follow</a></p>
        <p><a class="action" href="#">Is this your club?</a></p>

			</section>

		</div>

	</div>

</section>
