
<section class="shows upcoming">
	<div class="container">

		<nav class="tabs">
			<a  class="active" href="#/shows/upcoming">All clubs</a>

		</nav>


		<div ng-controller="MapController">
			<leaflet style="height: 400px"
				id="geo-wrapper"
				elementcacheid="search/geo-wrapper"
				fullsize="false"
				center="data.leaflet.centre"
				bounds="data.leaflet.bounds"
				scrollwheelzoom="false"
				dragging="true"
				clickmarker="Location"></leaflet>
		</div>

		<ol class="monthList">
			<li ng-show="filteredShows.length===0">No shows found</li>

			<li>
				<div ng-include src="'app/views/shows/paging.html'"></div>


						<li class="club" ng-repeat="club in paging.results">

							<h3><a ng-href="/clubs/details/{{ club._id }}"><span ng-bind="club.name" /></a></h3>
							<p>
									<span ng-bind="club.address" />,
									<span ng-bind="club.postcode" />
								</p>

						</li>


					<div ng-include src="'app/views/shows/paging.html'"></div>

				</div>
			</li>
		</ol>
	</div>
</section>
