extends ../layout

block content
  form(method='POST',  parsley-validate)
    h1 Sign In
    .form-group
      .btn-group.btn-group-justified
        a.btn.btn-facebook(href='/auth/facebook')
          i.fa.fa-facebook
          | Facebook
        a.btn.btn-twitter(href='/auth/twitter')
          i.fa.fa-twitter
          | Twitter
        a.btn.btn-google-plus(href='/auth/google')
          i.fa.fa-google-plus
          | Google
    .form-group.formEmail
      label.control-label(for='email') Email
      input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
    .form-group.formPassword
      label.control-label(for='username') Password
      input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group.formSubmit
      button(type='submit')
        i.fa.fa-unlock-alt
        | Login
