extends ../layout

block content
  form(method='POST', parsley-validate)
    h1 Sign In
    .formField.formActions
      a.action.btn-facebook(href='/auth/facebook')
        i.fa.fa-facebook
        | Facebook
      a.action.btn-twitter(href='/auth/twitter')
        i.fa.fa-twitter
        | Twitter
      a.action.btn-google-plus(href='/auth/google')
        i.fa.fa-google-plus
        | Google
    .formField.formEmail
      label.control-label(for='email') Email
      input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true, parsley-type='email')
    .formField.formPassword
      label.control-label(for='username') Password
      input.form-control(type='password', name='password', id='password', placeholder='Password')
    .formField.formActions
      button.action(type='submit')
        i.fa.fa-unlock-alt
        | Login
