extends ../layout

block content
  h1 Account
  h2 Profile Information

  form(action='/account/profile', method='POST', parsley-validate)
    fieldset
      .formField.formEmail
        label(for='email') Email
        input(type='email', name='email', id='email', value='#{user.email}', parsley-type='email')

      .formField.formText
        label(for='name') Name
        input(type='text', name='name', id='name', value='#{user.profile.name}')

      .formField.formButtons
        input(type='submit', value='Update Profile')

  h2 Change Password

  form.form-horizontal(action='/account/password', method='POST')
    fieldset
      .formField.formPassword
        label(for='password') New Password
        input(type='password', name='password', id='password')
      .formField.formPassword
        label(for='confirmPassword') Confirm Password
        input(type='password', name='confirmPassword', id='confirmPassword')
      .formField.formButtons
        button(type='submit') Change Password

  a(href='/logout') Logout
  if 1==2
    h2 Linked Accounts

    if user.google
      p: a(href='/account/unlink/google') Unlink your Google account
    else
      p: a(href='/auth/google') Link your Google account

    if user.facebook
      p: a(href='/account/unlink/facebook') Unlink your Facebook account
    else
      p: a(href='/auth/facebook') Link your Facebook account

    if user.twitter
      p: a(href='/account/unlink/twitter') Unlink your Twitter account
    else
      p: a(href='/auth/twitter') Link your Twitter account
