extends ../layout

block content
  form(id='signup-form', method='POST', parsley-validate)
    h1 Signup
    .formField.formEmail
      label(for='email') Email
      input(type='email', name='email', id='email', placeholder='Email', autofocus)
    .formField.formPassword
      label(for='username') Password
      input(type='password', name='password', id='password', placeholder='Password')
    .formField.formPassword
      label(for='username') Confirm Password
      input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .formField.formActions
      button.action(type='submit')
        i.fa.fa-check
        | Signup
