extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    h1 Signup
    .form-group.formEmail
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
    .form-group.formPassword
      label.col-sm-3.control-label(for='username') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password')
    .form-group.formPassword
      label.col-sm-3.control-label(for='username') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .form-group.formSubmit
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Signup
