<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>AgilityDiary</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />

		<!-- build:css styles/vendor.css -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/styles.css">
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css({.tmp,app}) styles/main.css -->
		<!-- endbuild -->
	</head>

	<body ng-app="browserAppApp" ng-controller="BaseController">
		<div id="spinner"></div>


		<div>

			<!--[if lt IE 7]>
				<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->

			<header class="layoutHeader" role="banner">

				<a href="#/" class="brandLogo"><img src="/app/images/logo-AgilityDiary.png" alt="AgilityDiary" />
          <span>Agility Diary</span>
        </a>

				<nav class="navPrimary" role="navigation" style="display: none;">
					<a ng-class="homeSectionClass" ng-href="#/">Home</a>
					<a ng-class="showsSectionClass" ng-href="#/shows/upcoming">Shows</a>
					<a ng-class="mapSectionClass" ng-href="#/map">Map</a>
					<a href="/account">Account</a>

					<!-- <label>Search the site</label>
					<input type="search" name="search" placeholder="Enter keywords here" ng-model="searchText"/>
					<a ng-show="searchText" ng-click="searchClearClick()" href="">Clear</a> -->
				</nav>

			</header>

			<!--
			<div class="btn-group btn-group-justified">
				<a href="/auth/facebook" class="btn btn-facebook"><i class="fa fa-facebook"></i>Facebook</a>
				<a href="/auth/twitter" class="btn btn-twitter"><i class="fa fa-twitter"></i>Twitter</a>
				<a href="/auth/google" class="btn btn-google-plus"><i class="fa fa-google-plus"></i>Google</a>

			</div>-->

			<!-- Add your site or application content here -->
			<div ng-view="" class="wrapper"></div>

			<footer class="layoutFooter" role="contentinfo">
				<div class="container">
					<a href="/contact">Contact</a>

					<section class="copyright">
						&copy; 2013 - 2014 AgilityDiary. All rights reserved.
					</section>
				</div>
			</footer>
		</div>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		</script>

		<!-- LIB STYLES -->
		<link rel="stylesheet" href="/app/scripts/lib/leaflet/leaflet.css" />

		<!-- 3rd party libs -->
		<script src="app/scripts/lib/geoposition/geoPosition.js"></script>
		<script src="app/scripts/lib/jquery/jquery-1.8.3.min.js"></script>
		<script src="app/scripts/lib/leaflet/leaflet.js"></script>
		<script src="app/scripts/lib/parsley/parsley.min.js"></script>
		<script src="app/scripts/lib/leaflet.bouncemarker/bouncemarker.js"></script>
		<script src="app/scripts/lib/dropzone/dropzone.js"></script>
		<script src="app/scripts/lib/spin/spin.min.js"></script>
		<!--  -->

		<!--[if lt IE 9]>
		<script src="app/bower_components/es5-shim/es5-shim.js"></script>
		<script src="app/bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->

		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="app/scripts/app.js"></script>
		<script src="app/scripts/controllers/base.js"></script>
		<script src="app/scripts/controllers/dog.js"></script>
		<script src="app/scripts/controllers/main.js"></script>
		<script src="app/scripts/controllers/shows.js"></script>
		<script src="app/scripts/controllers/map.js"></script>
		<script src="app/scripts/directives/leaflet.js"></script>
		<script src="app/scripts/directives/comments.js"></script>

		<script src="app/scripts/filters/placeholder.js"></script>

		<script src="app/scripts/services/comments.js"></script>
		<script src="app/scripts/services/showservice.js"></script>
		<script src="app/scripts/services/persist.js"></script>
		<script src="app/scripts/services/geoposition.js"></script>
		<script src="app/scripts/services/settings.js"></script>
		<script src="app/scripts/services/mapdata.js"></script>
		<script src="app/scripts/services/profileservice.js"></script>
		<script src="app/scripts/services/authentication.js"></script>
		<script src="app/scripts/services/localstoragedataservice.js"></script>
		<!-- endbuild -->
	</body>

</html>
