<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>



<section class="dogs add">

	<div class="container">

    <nav class="tabs">
      <a ng-href="/account">Profile</a>
      <a class="active" ng-href="/account/dogs">My Dogs</a>
      <a ng-href="/account/security">Security</a>
      <a ng-href="/account/linked-accounts">Linked accounts</a>
    </nav>

		<h1>Add a dog</h1>

		<form name="form" parsley-validate>
			<div class="formField formInput formText">
				<label for="addDogName">Name</label>
				<input id="addDogName" type="text" ng-model="dog.name" />
			</div>

			<div class="formField formSelect">
				<label for="addDogBreed">Breed</label>
				<select name="select" id="addDogBreed" ng-model="dog.breed" ng-options="breed.name for breed in breedOptions"></select>
			</div>

			<div class="formField formSelect">
				<label for="addDogKCheight">KC Height</label>
				<select name="select" id="addDogKCheight" ng-model="dog.kcheight" ng-options="kcheight.name for kcheight in kcheightOptions"></select>
			</div>

			<div class="formField formSelect">
				<label for="addDogKCgrade">KC Grade</label>
				<select name="select" id="addDogKCgrade" ng-model="dog.kcgrade" ng-options="kcgrade.name for kcgrade in kcgradeOptions" ng-required="true"></select>
			</div>

			<div class="formField formInput formText">
				<label for="addDogKCregisteredName">KC Registered Name</label>
				<input id="addDogKCregisteredName" type="text" ng-model="dog.kcregisteredname" />
			</div>

			<div class="formField formInput formText">
				<label for="addDogKCregisteredNumber">KC Registered Number</label>
				<input id="addDogKCregisteredNumber" type="text" ng-model="dog.kcregisterednumber" />
			</div>

			<div class="formField formInput formText">
				<label for="addDogDateOfBirth">Date of birth</label>
				<input id="addDogDateOfBirth" type="date" ng-model="dog.dateofbirth" />
			</div>

			<div class="formField formSelect">
				<label for="addDogSex">Sex</label>
				<select name="select" id="addDogSex" ng-model="dog.sex" ng-options="sex.name for sex in sexOptions" ng-required="true"></select>
			</div>

			<div class="formField formInput formText">
				<label for="addDogMicrochipNo">Microchip No</label>
				<input id="addDogMicrochipNo" type="text" ng-model="dog.microchip" />
			</div>

			<div class="formField formInput formText">
				<label for="addDogTattooNo">Tattoo No</label>
				<input id="addDogTattooNo" type="text" ng-model="dog.tattoo" />
			</div>

			<div class="formField formInput formUpload">
				<label for="addDogPhoto">Upload a photo</label>
				<input id="addDogPhoto" type="text" ng-model="dog.photo" />
			</div>

			<div class="formField formActions">
				<button class="action" ng-click="saveDog();">
					Save
				</button>
			</div>
		</form>
	</div>

</section>
