<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>

<section class="main profile dynamicProfile" ng-show="profile">

	<div class="profileCover" style="background-image: url({{ profile.User.profile.backgroundpicture || 'app/images/profile-background.jpg' }} )"></div>


	<div class="hero" ng-include src="'app/views/shared/dogHero.html'"></div>


	<section class="dogs details">

		<div class="container">

			<nav class="navTabs">
				<a ng-href="/dogs/{{ dog._id }}">Profile</a>
				<a ng-href="/dogs/{{ dog._id }}/results">Add results</a>
				<a ng-href="/dogs/{{ dog._id }}/viewResults">View results</a>
				<a ng-href="/dogs/{{ dog._id }}/photos">Photos</a>
				<a class="active" ng-href="/dogs/{{ dog._id }}/details">Details</a>
			</nav>

			<div class="contentWrapper">
				<section class="contentMain">

					<h2>Details</h2>

					<table class="tableY">
						<tr>
							<th>Breed:</th>
							<td>{{ dog.Profile.Breed }}</td>
						</tr>
						<tr>
							<th>KC Height:</th>
							<td>{{ dog.Profile.KennelClub.Height }}</td>
						</tr>
						<tr>
							<th>KC Grade:</th>
							<td>{{ dog.Profile.KennelClub.Grade }}</td>
						</tr>
						<tr>
							<th>KC Registered Name:</th>
							<td>{{ dog.Profile.KennelClub.RegisteredName }}</td>
						</tr>
						<tr>
							<th>KC Registered Number:</th>
							<td>{{ dog.Profile.KennelClub.RegisteredNumber }}</td>
						</tr>
						<tr>
							<th>Date of birth:</th>
							<td>{{ dog.Profile.DateOfBirth | date:'mediumDate' }}</td>
						</tr>
						<tr>
							<th>Sex:</th>
							<td>{{ dog.Profile.Sex }}</td>
						</tr>
						<tr>
							<th>Microchip No:</th>
							<td>{{ dog.Profile.Microchip }}</td>
						</tr>
						<tr>
							<th>Tattoo No:</th>
							<td>{{ dog.Profile.Tattoo }}</td>
						</tr>
					</table>

				</section>

				<section class="contentSub">

					<a class="action" ng-href="/dogs/{{ dog._id }}/edit">Edit details</a>

				</section>

			</div>

		</div>



		<span ng-repeat="photo in dog.Photos">
			<img ng-src="{{ photo.Path }}_80x60" />
		</span>

	</section>

</section>
