<section class="dogs details">

	<div class="container">

		<div class="contentWrapper">
			<section class="contentMain">

				<p><a ng-href="#/dogs"><< Dogs</a></p>

				<img src="{{ dog.Profile.Photo | imageSize: '200x100' }}" />

				<h1>{{ dog.Profile.Name }}</h1>

				<h2>Results</h2>

				<div class="uploadImage" id="addImage" style="">⇧ Upload Photo
					<span class="dz-message"></span>
					<span data-dz-name=""></span>
					<span data-dz-details=""></span>
					<span data-dz-size=""></span>
					<span data-dz-errormessage=""></span>
				</div>

			</section>

			<section class="contentSub">
				<a ng-href="#/dogs/edit/{{ dog._id }}">Edit details</a>

				<p>Breed: {{ dog.Profile.Breed }}</p>
				<p>KC Height: {{ dog.Profile.KennelClub.Height }}</p>
				<p>KC Grade: {{ dog.Profile.KennelClub.Grade }}</p>
				<p>KC Registered Name: {{ dog.Profile.KennelClub.RegisteredName }}</p>
				<p>KC Registered Number: {{ dog.Profile.KennelClub.RegisteredNumber }}</p>
				<p>Date of birth: {{ dog.Profile.DateOfBirth | date:'mediumDate' }}</p>
				<p>Sex: {{ dog.Profile.Sex }}</p>
				<p>Microchip No: {{ dog.Profile.Microchip }}</p>
				<p>Tattoo No: {{ dog.Profile.Tattoo }}</p>

			</section>

		</div>

	</div>



	<span ng-repeat="photo in dog.Photos">
		<img src="{{ photo.Path }}_80x60" />
	</span>


</section>
