

<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>

<section class="main profile dynamicProfile" ng-show="profile">
<div ng-include src="'app/views/shared/header.html'"></div>

<section class="dogs details">

	<div class="container">

		<div ng-include src="'app/views/dogs/dogNav.html'"></div>

		<h1>{{ dog.Profile.Name }}</h1>

		<!--<p><img src="{{ dog.Profile.Photo | imageSize: '200x100' }}" /></p>-->

		<nav class="tabs">
			<a ng-href="/dogs/{{ dog._id }}">Profile</a>
			<a ng-href="/dogs/{{ dog._id }}/results">Results</a>
			<a class="active" ng-href="/dogs/{{ dog._id }}/photos">Photos</a>
			<a ng-href="/dogs/{{ dog._id }}/details">Details</a>
		</nav>

		<div class="contentWrapper">
			<section class="contentMain">

				<h2>Photos</h2>

				<div class="uploadImage" id="addImage" style="">⇧ Upload Photo
					<span class="dz-message"></span>
					<span data-dz-name=""></span>
					<span data-dz-details=""></span>
					<span data-dz-size=""></span>
					<span data-dz-errormessage=""></span>
				</div>

			</section>



		</div>

	</div>



	<span ng-repeat="photo in dog.Photos">
		<img src="{{ photo.Path }}_80x60" />
	</span>

</section>

</section>
