

<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>

<section class="main profile dynamicProfile" ng-show="profile">
<div ng-include src="'app/views/shared/header.html'"></div>

<section class="dogs details">

	<div class="container">

		<div>
			<a class="avatar secondaryAvatar" ng-href="/dogs/{{ dog._id }}" ng-repeat="dog in profile.Dogs">
				<img ng-src="{{ dog.Profile.Photo || 'app/images/dog.png' | imageSize: '64x64' }}" />
			</a>
			<!-- <br /><span ng-bind="dog.Profile.Name" /> -->
		</div>


		<!--<p><a ng-href="/dogs"><< Return to all dogs</a></p>-->

		<h1>{{ dog.Profile.Name }}</h1>

		<!--<p><img src="{{ dog.Profile.Photo | imageSize: '200x100' }}" /></p>-->

		<nav class="tabs">
			<a class="active" ng-href="/dogs/{{ dog._id }}">Profile</a>
			<a ng-href="/dogs/{{ dog._id }}/results">Results</a>
			<a ng-href="/dogs/{{ dog._id }}/photos">Photos</a>
			<a ng-href="/dogs/{{ dog._id }}/details">Details</a>
		</nav>

		<div class="contentWrapper">
			<section class="contentMain">

				<h2>THIS IS THE DOG PROFILE PAGE</h2>
			</section>

		</div>

	</div>



	<span ng-repeat="photo in dog.Photos">
		<img src="{{ photo.Path }}_80x60" />
	</span>

</section>

</section>
