<style dynamic-style="profile" colour="profile.User.profile.theme.mainColour"></style>

<section class="main profile dynamicProfile" ng-show="profile">

	<div class="profileCover" style="background-image: url({{ profile.User.profile.backgroundpicture || 'app/images/profile-background.jpg' }} )"></div>


	<div class="hero" ng-include src="'app/views/shared/dogHero.html'"></div>



	<section class="dogs details">

		<div class="container">

			<nav class="tabs">
				<a class="active" ng-href="/dogs/{{ dog._id }}">Profile</a>
				<a ng-href="/dogs/{{ dog._id }}/results">Add results</a>
				<a ng-href="/dogs/{{ dog._id }}/viewResults">View results</a>
				<a ng-href="/dogs/{{ dog._id }}/photos">Photos</a>
				<a ng-href="/dogs/{{ dog._id }}/details">Details</a>
			</nav>

			<div class="contentWrapper">
				<section class="contentMain">

					<h2>THIS IS THE DOG PROFILE PAGE</h2>
				</section>

			</div>

		</div>



		<span ng-repeat="photo in dog.Photos">
			<img ng-src="{{ photo.Path }}_80x60" />
		</span>

	</section>

</section>
