/**
 * @description    Text shadow
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-01-23 15:51
 *
 *
 *     @example
 *
 *
 *        @type    variables
 *       @notes
 *      @ignore
 *
 */

/**
* @section        default text shadow
*/
$default-text-shadow-color:     rgba(black, 0.6);
$default-text-shadow-blur:      3px;
$default-text-shadow-v-offset:  1px;
