<section class="main profile">

	<div class="container">
		<img src="{{ profile.User.profile.picture | imageSize: '200x100' }}" />

		<h1 ng-bind="profile.User.profile.name" />

		<div class="uploadImage" id="uploadProfileImage" style="">⇧ Upload Photo
			<span class="dz-message"></span>
			<span data-dz-name=""></span>
			<span data-dz-details=""></span>
			 <span data-dz-size=""></span>
			 <span data-dz-errormessage=""></span>
		</div>

		<section class="dogsList">
			<h2><a ng-href="#/dogs">Dogs</a></h2>

			<p ng-show="!profile.Dogs.length">
				You have no dogs
			</p>

			<div>
				<div ng-repeat="dog in profile.Dogs" >
					<a  ng-href="#/dogs/{{ dog._id }}">
						<img class="dogProfilePicture" src="{{ dog.Profile.Photo | imageSize: '200x100' }}" />
						<br /><span ng-bind="dog.Profile.Name" />
					</a>
				</div>
			</div>
		</section>

		<section class="enteredShowsList">
			<h2><a ng-href="#/shows/entered">Entered Shows</a></h2>

			<p ng-show="!profile.EnteredShows.length">
				You have not entered any shows, <a href="#/shows/upcoming">enter some shows</a>
			</p>
			<div ng-repeat="show in profile.EnteredShows">
				<a ng-href="#/shows/details/{{ show._id }}"><div ng-bind="show.Name"></div></a>
			</div>
		</section>

		<section class="friendsList">
			<h2><a ng-href="#/friends">Friends</a></h2>

			<p ng-show="!profile.Friends.length">
				Aww you haven't added any friends yet, <a href="#">Add some friends</a>
			</p>

			<div>
				<a class="friendProfilePicture" ng-repeat="friend in profile.Friends" ng-href="#/friends/{{ friend._id }}">
					<img src="http://placedog.com/64/64" alt="" />
					<br /><span ng-bind="friend.Profile.Name" />
				</a>
			</div>
		</section>

	</div>
</section>

<style >
.uploadImage {
	background: palegreen;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}</style>
