/**
 * @description    fieldset styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-15 08:40
 *
 *
 *     @example
 *                 <fieldset>
 *                 </fieldset>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        fieldset
 */
fieldset {
    border: none;
    margin: 0;
    padding: 0 0 1em 0;
}
