/**
 * @description    input styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-15 08:40
 *
 *
 *     @example
 *                 <input></input>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        input
 */
input {
    @include border-radius(.25em);
    @include default-font-stack;

    border: 1px solid $color-border;
    box-shadow: inset 0 1px 3px $color-shadow;
    margin: .5em .6em;
    padding: .5em .6em;

    &[type="email"],
    &[type="password"],
    &[type="text"] {
        @include span-columns(9 omega,12);
    }
}
