/**
 * @description    label styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-15 08:40
 *
 *
 *     @example
 *                 <label for="quickEnquiry_email">Email address</label>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        label
 */
label {
    @include span-columns(3,12);

    cursor: pointer;
    margin: .5em 0;
    padding: .5em;
}
