/**
 * @description    textarea styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-15 08:40
 *
 *
 *     @example
 *                 <textarea></textarea>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        textarea
 */
textarea {
    @include default-font-stack;

    margin: .5em 0;
    padding: .5em;
    width: 100%;
}
