/**
 * @description    textarea styling
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2014-02-15 08:40
 *
 *
 *     @example
 *                 <textarea></textarea>
 *
 *
 *        @type    element
 *       @notes
 */


/**
 * @section        textarea
 */
textarea {
    @include border-radius(.25em);
    @include default-font-stack;

    border: 1px solid $color-border;
    box-shadow: inset 0 1px 3px $color-shadow;
    height: 5em;
    margin: .5em .6em;
    padding: .5em .6em;
    width: 100%;
}
