<section class="details">

	<div class="container">

		<h1 ng-bind="show.Name"></h1>

		<nav class="tabs">
			<a class="active" ng-href="#/shows/details/{{ id }}">Details</a>
			<a ng-href="#/shows/results/{{ id }}">View/enter results</a>
			<a ng-href="#/shows/photos/{{ id }}">Photos</a>
		</nav>


		<div>
			<leaflet style="height: 300px"
				id="geo-wrapper"
				elementcacheid="search/geo-wrapper"
				fullsize="false"
				center="centre"
				bounds="bounds"
				scrollwheelzoom="false"
				dragging="true"
				clickmarker="Location"></leaflet>
		</div>


		<!-- <div class="blog-meta">
			<a href="#"><span class="label label-default"><span class="fui-user"></span> admin</span></a>
			<a href="#"><span class="label label-default"><span class="fui-calendar"></span>
				<span ng-bind="show.ShowDate" /> to  <span ng-bind="show.ShowEnd" /></span></a>
			<a href="#"><span class="label label-default"><span class="fui-chat"></span> 4 comments</span></a>
			<a href="#"><span class="label label-default"><span class="fui-arrow-right"></span> news</span></a>
			<a href="#"><span class="label label-default"><span class="fui-arrow-right"></span> announcements</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 1</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 2</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> another tag</span></a>
		</div> -->

		<div class="contentWrapper">
			<section class="contentMain">

				<p>
					<a href="#"><span ng-bind="show.Venue.Name" /></a>,
					<span ng-bind="show.Venue.Address" />,
					<span ng-bind="show.Venue.PostCode" />

					<br /><a href="https://www.google.co.uk/maps/preview/place/{{ show.Venue.PostCode }}">View on Google Maps</a> |
					Lat: <span ng-bind="show.Location.Latitude" />, Long: <span ng-bind="show.Location.Longitude" />
				</p>

				<p>Club: <a href="{{ show.Club }}"><span ng-bind="show.Club" /></a> | Website: <a href="http://{{ show.Website }}"><span ng-bind="show.Website" /></a></p>

				<!--<section class="introduction">
					<img alt="Placeholder" src="http://placehold.it/200x150/CCCCCC/FFFFFF.png" ng-bind="show.Logo" />
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, cupiditate, aperiam eius quod harum sit quo repellendus.</p>
				</section>

				<section class="pastShows">
					<h2>List past shows</h2>
					<p>@@past shows here</p>
				</section>

				<section class="similarShows">
					<h2>Similar shows</h2>
					<p>@@similar shows here</p>
				</section>

				<section class="comments">
					<h2>Comments</h2>
					<p>@@Show following sentence if there are no comments available for this show yet</p>
					<p>There are currently no comments for this show, please add a comment</p>
					<comments item="id" ></comments>
				</section>-->


				<comments item="id" ></comments>

			</section>




			<section class="contentSub">
				<br/>
				<div>
					<span class="tag" ng-bind="show.Meta.ShowType" />
				</div>


				<div>
					<span ng-bind="show.ShowDate" /><span ng-show="show.ShowDate !== show.ShowEnd"> - <span ng-bind="show.ShowEnd" /></span>
				</div>

				<!--<p><a href="#">Save to iCal / iPhone / Outlook / GCal</a></p>-->

				<span ng-show="entriesOpen">
					<p>Entries close: <span ng-bind="show.ClosingDate" /></p>


					<button class="button attendButton" ng-click="enterShow(show);" ng-hide="attending">Attending?</button>

					<button ng-click="resignShow(show);"  ng-show="attending" style="background:black;color:white">Not attending</button>
				</span>
				<span ng-hide="entriesOpen">
					Entries closed
				</span>

				<button ng-click="resignShow(show);"  ng-show="attending" style="background:black;color:white">Withdraw from this show</button>

				<span ng-show="show.EntriesTo">
					<p>Entries to <span ng-bind="show.EntriesTo" /></p>
				</span>

				<p><a href="#">Is this your show?</a></p>


				<span ng-show="show.Attending.length===0">
					No-one is attending this show yet, be the first
				</span>

				<span ng-repeat="attending in show.Attending">
					<img src="{{ attending.profile.picture }}_80x60" title="{{ attending.profile.name }}" />
				</span>

				<section class="shareThis">
				  <h2>Share this show</h2>
				  <p>@@share this show here</p>
				</section>

				<h2>Results</h2>
				<p><a ng-href="#/shows/results/{{ id }}">View/enter results</a></p>

				<h2>Photos</h2>

				<div class="uploadImage" id="uploadProfileImage" style="">⇧ Upload Photo

				<!--<div class="uploadImage" id="uploadProfileImage" style="">⇧ Upload Photo
					<span class="dz-message"></span>
					<span data-dz-name=""></span>
					<span data-dz-details=""></span>
					<span data-dz-size=""></span>
					<span data-dz-errormessage=""></span>
				</div>-->

				<div ng-show="show.UserPhotos.length===0">

				</div>

				<span ng-repeat="photo in show.UserPhotos">
					<img src="{{ photo.Path }}_80x60" />
				</span>

			</section>

		</div>



		<!-- <div class="widget">
			<div class="widget-title">Categories</div>
			<ul>
				<li><a href="#">Category 1</a></li>
				<li><a href="#">Category 2</a></li>
				<li><a href="#">Category 3</a></li>
				<li><a href="#">Category 4</a></li>
				<li><a href="#">Category 5</a></li>
			</ul>
		</div>

		<div class="widget">
			<div class="widget-title">Tags</div>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 1</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 2</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> another tag</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> add</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> as many</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> as you want</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> why not</span></a>
		</div> -->

	</div>

</section>
