<section class="shows entered">

	<div class="container">

    <div class="contentWrapper" ng-include src="'app/views/shows/shared/eventsHeader.html'"></div>

		<nav class="navTabs">
			<a ng-href="/shows/upcoming">Upcoming shows</a>
			<a ng-href="/shows/previous">Previous shows</a>
			<a class="active" ng-href="/shows/entered">Attending</a>
			<a ng-href="/shows/camps">Camps</a>
			<a ng-href="/shows/workshops">Workshops</a>
		</nav>


		<div ng-include src="'app/views/shows/categories.html'"></div>

		<div ng-controller="MapController">
			<leaflet
        class="map"
				id="geo-wrapper"
				elementcacheid="search/geo-wrapper"
				fullsize="false"
				center="data.leaflet.centre"
				bounds="data.leaflet.bounds"
				scrollwheelzoom="false"
				dragging="true"
				clickmarker="Location"></leaflet>
		</div>



		<p ng-show="enteredShows.length===0">
			You have not entered any shows yet, <a href="/shows/upcoming">enter some shows</a>
		</p>

		<ol class="monthList">
			<li>
				<div class="monthWrapper">
					<h3>February
					<br/><span class="year">2014</span></h3>
				</div>

				<div class="eventListWrapper">
					<ol class="eventList">
						<li class="event" ng-repeat="event in enteredShows">

							<div class="eventDate">
								<span ng-bind="event.ShowDate" /><span ng-show="event.ShowDate !== event.ShowEnd"> to <span ng-bind="event.ShowEnd" /></span>
							</div>

							<div class="eventShortDetail">
								<h2><a ng-href="/shows/details/{{ event._id }}"><span ng-bind="event.Name"></span></a></h2>

								<div class="meta tags">
									<a class="tag tagShowType event.Meta.ShowType" href="#" title="Filter by {{ event.Meta.ShowType }} shows only" ng-bind="event.Meta.ShowType" />
									<a class="tag tagClub" href="#" title="Filter by {{ event.Club }} shows only" ng-bind="event.Club" />
									<a class="tag tagEntered" href="#" title="Filter by entered shows only" ng-show="hasUserEnteredShow(event)">Entered</a>
									<a class="tag tagCamping" title="Filter by shows that you are camping at only" href="#">Camping</a>
								</div>

								<p>Entries closing date: <span ng-bind="event.ClosingDate" /></p>

								<div>Venue:
									<a href="#"><span ng-bind="event.Venue.Name" /></a>,
									<span ng-bind="event.Venue.Address" />,
									<span ng-bind="event.Venue.PostCode" />
								</div>

								<p><a href="" ng-click="jumpToShow(event);">View on map</a> | <a href="#/shows/details/{{ event._id }}">View details</a></p>

								<!-- <div class="widget">
									<div class="widget-title">Classes</div>
									<span class="label label-default"><span class="fui-tag"></span> small</span>
									<span class="label label-default"><span class="fui-tag"></span> medium</span>
									<span class="label label-default"><span class="fui-tag"></span> large</span>
									<span class="label label-default"><span class="fui-tag"></span> jumping</span>
								</div> -->
							</div>
						</li>
					</ol>
				</div>
			</li>
		</ol>

		<!--/// PAGINATION ///-->
		<!--<div class="pagination pagination-minimal">
			<ul>
				<li class="previous">
					<a href="#" class="fui-arrow-left"></a>
				</li>

				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>

				<li class="next">
					<a href="#" class="fui-arrow-right"></a>
				</li>
			</ul>
		</div>-->
	</div>
</section>
