<section class="details">


	<div class="container">

		<h1 ng-bind="show.Name"></h1>

		<nav class="tabs">
			<a ng-href="#/shows/details/{{ id }}">Details</a>
			<a ng-href="#/shows/results/{{ id }}">View/enter results</a>
			<a class="active"   ng-href="#/shows/photos/{{ id }}">Photos</a>
		</nav>


		<!-- <div class="blog-meta">
			<a href="#"><span class="label label-default"><span class="fui-user"></span> admin</span></a>
			<a href="#"><span class="label label-default"><span class="fui-calendar"></span>
				<span ng-bind="show.ShowDate" /> to  <span ng-bind="show.ShowEnd" /></span></a>
			<a href="#"><span class="label label-default"><span class="fui-chat"></span> 4 comments</span></a>
			<a href="#"><span class="label label-default"><span class="fui-arrow-right"></span> news</span></a>
			<a href="#"><span class="label label-default"><span class="fui-arrow-right"></span> announcements</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 1</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 2</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> another tag</span></a>
		</div> -->

		<div class="contentWrapper">
			<section class="contentMain">
				<a ng-href="#/shows/details/{{ id }}"><h1 ng-bind="show.Name"></h1></a>



				<div class="uploadImage" id="uploadProfileImage" style="">⇧ Upload Photo
					<span class="dz-message"></span>
					<span data-dz-name=""></span>
					<span data-dz-details=""></span>
					<span data-dz-size=""></span>
					<span data-dz-errormessage=""></span>
				</div>

				<span ng-show="show.UserPhotos.length===0">
					No photos
				</span>



				<span ng-repeat="photo in show.UserPhotos">
					<img src="{{ photo.Path }}_200x100" />
				</span>


			</section>

		</div>



		<!-- <div class="widget">
			<div class="widget-title">Categories</div>
			<ul>
				<li><a href="#">Category 1</a></li>
				<li><a href="#">Category 2</a></li>
				<li><a href="#">Category 3</a></li>
				<li><a href="#">Category 4</a></li>
				<li><a href="#">Category 5</a></li>
			</ul>
		</div>

		<div class="widget">
			<div class="widget-title">Tags</div>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 1</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> tag 2</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> another tag</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> add</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> as many</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> as you want</span></a>
			<a href="#"><span class="label label-default"><span class="fui-tag"></span> why not</span></a>
		</div> -->

	<!--	<hr />
		<h2>TODO: </h2>
		<ul>
			<li>Add weather</li>
			<li>Track/bookmark/favourite show</li>
			<li>Nearby</li>
			<li>Stalls</li>
			<li>Past events</li>
			<li>Share this event</li>
			<li>Tags/tagged</li>
			<li>Satnav</li>
			<li>Camping</li>
			<li>Venue page</li>
			<li>Special events</li>
			<li>Facilities</li>
			<li>How many days?</li>
			<li>Announcements/news</li>
		</ul>-->
	</div>

</section>
