<nav class="navPaging" role="navigation">
	<button class="action" ng-click="paging.firstClick();"
			ng-show="paging.page>1"><i class="fa fa-angle-double-left"></i></button>

	<button class="action" ng-click="paging.backClick();"
			ng-show="paging.page>1"><i class="fa fa-angle-left"></i></button>

	<span ng-repeat="page in paging.pages">
		<a  href="" ng-click="paging.jumpToPage(page);"
				ng-bind="page"
				ng-class="(page==paging.page) ? 'selected' : ''"></a>
	</span>

	<button class="action" ng-click="paging.nextClick();"
			ng-show="paging.page<paging.sourcePages.length"><i class="fa fa-angle-right"></i></button>

	<button class="action" ng-click="paging.lastClick();"
			ng-show="paging.page<paging.sourcePages.length"><i class="fa fa-angle-double-right"></i></button>
</nav>
