<nav class="navPaging" role="navigation">
	<button class="action" ng-click="paging.backClick();"
			ng-show="paging.page>1"><i class="fa fa-angle-double-left"></i> Back</button>

	<span ng-repeat="page in paging.pages">
		<a  href="" ng-click="paging.jumpToPage(page);"
				ng-bind="page"
				ng-class="(page==paging.page) ? 'selected' : ''"></a>
	</span>

	<button class="action" ng-click="paging.nextClick();"
			ng-show="paging.page<paging.pages.length">Next <i class="fa fa-angle-double-right"></i></button>
</nav>


<!-- hardcoded examples below -->
<nav class="navPaging" role="navigation">
	<a href="">1</a>
	<a href="">2</a>
	<a href="">3</a>
	<a class="selected" href="">4</a>
	<a href="">5</a>
	...
	<a href="">10</a>
	<a href="">20</a>
	<a href="">30</a>

	<button class="action">
		<i class="fa fa-angle-right"></i>
	</button>

	<button class="action">
		<i class="fa fa-angle-double-right"></i>
	</button>
</nav>


<nav class="navPaging" role="navigation">
	<button class="action">
		<i class="fa fa-angle-double-left"></i>
	</button>

	<button class="action">
		<i class="fa fa-angle-left"></i>
	</button>

	<a href="">7</a>
	<a href="">8</a>
	<a href="">9</a>
	<a class="selected" href="">10</a>
	<a href="">11</a>
	...
	<a href="">10</a>
	<a href="">20</a>
	<a href="">30</a>

	<button class="action">
		<i class="fa fa-angle-right"></i>
	</button>

	<button class="action">
		<i class="fa fa-angle-double-right"></i>
	</button>
</nav>


<nav class="navPaging" role="navigation">
	<button class="action">
		<i class="fa fa-angle-double-left"></i>
	</button>

	<button class="action">
		<i class="fa fa-angle-left"></i>
	</button>

	<a href="">7</a>
	<a href="">8</a>
	<a href="">9</a>
	<a class="selected" href="">10</a>
	<a href="">11</a>
	...
	<a href="">35</a>
	<a href="">36</a>
	<a href="">37</a>

	<button class="action">
		<i class="fa fa-angle-right"></i>
	</button>

	<button class="action">
		<i class="fa fa-angle-double-right"></i>
	</button>
</nav>


<nav class="navPaging" role="navigation">
	<button class="action">
		<i class="fa fa-angle-double-left"></i>
	</button>

	<button class="action">
		<i class="fa fa-angle-left"></i>
	</button>

	<a href="">34</a>
	<a href="">35</a>
	<a href="">36</a>
	<a class="selected" href="">37</a>
</nav>
