<section class="upcoming">

	<div class="container">
		<!--<section>
			<input type="search" name="search" placeholder="Filter shows" ng-model="searchText"/>
			<a ng-show="searchText" ng-click="searchClearClick()" href="">Clear</a>
		</section>-->

		<nav class="tabs">
			<a ng-href="/shows/upcoming">Upcoming shows</a>
			<a class="active"  ng-href="/shows/previous">Previous shows</a>
			<a ng-show="profile.EnteredShows.length !== 0" href="/shows/entered">Attending</a>
			<a ng-href="/shows/camps">Camps</a>
			<a ng-href="/shows/workshops">Workshops</a>
		</nav>

		<h1>Shows</h1>

		<div ng-include src="'app/views/shows/categories.html'"></div>

		<div ng-controller="MapController">
			<leaflet style="height: 400px"
				id="geo-wrapper"
				elementcacheid="search/geo-wrapper"
				fullsize="false"
				center="data.leaflet.centre"
				bounds="data.leaflet.bounds"
				scrollwheelzoom="false"
				dragging="true"
				clickmarker="Location"></leaflet>
		</div>

		<ol class="monthList">
			<li ng-show="filteredShows.length===0">No shows found</li>

			<li>

				<div class="eventListWrapper">
					<div ng-include src="'app/views/shows/paging.html'"></div>

					<ol class="eventList">
						<li class="event" ng-repeat="event in paging.results">

							<div class="monthWrapper" ng-show="paging.results[$index - 1].ShowMonth !== event.ShowMonth">
								<h3 ng-bind="event.ShowMonth"></h3>
								<br/><span class="year" ng-bind="event.ShowYear"></span>
							</div>

							<div class="eventDate">
								<span ng-bind="event.ShowDate" /><span ng-show="event.ShowDate !== event.ShowEnd"> to <span ng-bind="event.ShowEnd" /></span>
							</div>

							<div class="eventShortDetail">
								<h2><a ng-href="#/shows/details/{{ event._id }}"><span ng-bind="event.Name"></span></a></h2>

								<div class="meta">
									<a class="tag" href="#" ng-bind="event.Meta.ShowType" />
									<a class="tag" href="#" ng-bind="event.Club" />
									<a class="tag entered" href="#" ng-show="hasUserEnteredShow(event)">Entered</a>
									<a class="tag entered" href="#">Camping</a>
								</div>

								<p>Entries closing date: <span ng-bind="event.ClosingDate" /></p>

								<div>Venue:
									<a ng-href="/venues/details/{{ event.Venue.Id }}"><span ng-bind="event.Venue.Name" /></a>,
									<span ng-bind="event.Venue.Address" />,
									<span ng-bind="event.Venue.PostCode" />
								</div>

								<p><a href="" ng-click="jumpToShow(event);">View on map</a> | <a href="#/shows/details/{{ event._id }}">View details</a></p>

							</div>
						</li>
					</ol>

					<!-- <div ng-include src="'app/views/shows/paging.html'"></div> -->
				</div>
			</li>
		</ol>

	</div>
</section>
