
<section class="shows listView">



	<div class="container listResults">


		<div class="contentWrapper" ng-include src="'app/views/shows/shared/eventsHeader.html'"></div>

		<!--<section>
			<input type="search" name="search" placeholder="Filter shows" ng-model="searchText"/>
			<a ng-show="searchText" ng-click="searchClearClick()" href="">Clear</a>
		</section>-->

		<nav class="navTabs">
			<a class="active" ng-href="/shows/upcoming">Upcoming shows</a>
			<a ng-href="/shows/previous">Previous shows</a>
			<a ng-show="profile.EnteredShows.length !== 0" ng-href="/shows/entered">Attending</a>
			<a ng-href="/shows/camps">Camps</a>
			<a ng-href="/shows/workshops">Workshops</a>
		</nav>

		<div ng-include src="'app/views/shows/categories.html'"></div>

		<div ng-controller="MapController">
			<input type="text" ng-model="controls.searchBox.value" placeholder="{{ controls.searchBox.placeholder }}"/>
			<leaflet
				class="map"
				id="geo-wrapper"
				elementcacheid="search/geo-wrapper"
				fullsize="false"
				center="data.leaflet.centre"
				bounds="data.leaflet.bounds"
				scrollwheelzoom="false"
				dragging="true"
				clickmarker="Location"></leaflet>
		</div>

		<div class="events">
			<p ng-show="filteredShows.length===0">No shows found</p>

			<div ng-include src="'app/views/shows/paging.html'"></div>

			<div class="eventListWrapper">
				<ol class="eventList">
					<li class="event" ng-repeat="event in paging.results">

						<div class="monthWrapper" ng-show="paging.results[$index - 1].ShowMonth !== event.ShowMonth">
							<h3 ng-bind="event.ShowMonth">
							<br/><span class="year" ng-bind="event.ShowYear"></span></h3>
						</div>

						<div class="eventDate">

							<div class="date dateStart">
								<div class="dateDetail dateMonth" ng-bind="event.ParsedDate | date: 'MMM'"></div>
								<div class="dateDetail dateDay" ><strong ng-bind="event.ParsedDate | date: 'dd'"></strong></div>
							</div>

							<span ng-show="event.ShowDate !== event.ShowEnd">
								<div class="date dateEnd">
									<div class="dateDetail dateMonth" ng-bind="event.ParsedEnd | date: 'MMM'"></div>
									<div class="dateDetail dateDay" ><strong ng-bind="event.ParsedEnd | date: 'dd'"></strong></div>
								</div>
							</span>
						</div>

						<div class="eventShortDetail">
							<h2><a ng-href="/shows/details/{{ event._id }}"><span ng-bind="event.Name"></span></a></h2>

							<p class="tags">
								<a class="tag tagShowType tag{{ event.Meta.ShowType }}"
								 href="#" title="Filter by {{ event.Meta.ShowType }} shows only" ng-bind="event.Meta.ShowType" />
								<a class="tag tagClub" href="#" title="Filter by {{ event.Club }} shows only" ng-bind="event.Club" />
								<a class="tag tagEntered" href="#" title="Filter by entered shows only" ng-show="hasUserEnteredShow(event)">Entered</a>
								<!--<a class="tag tagCamping" title="Filter by shows that you are camping at only" href="#">Camping [@@should only appear if show has been marked as attending and and then ability to mark as camping is enabled]</a>-->
							</p>

							<p>Entries closing date: <span ng-bind="event.ClosingDate" /></p>

							<p>
								<a ng-href="/venues/details/{{ event.Venue.Id }}"><span ng-bind="event.Venue.Name" /></a>,
								<span ng-bind="event.Venue.Address" />,
								<span ng-bind="event.Venue.PostCode" />
							</p>

							<p><a href="" ng-click="jumpToShow(event);">View on map</a> | <a href="/shows/details/{{ event._id }}">View details</a></p>
							<!-- <p><a href="" ng-click="jumpToShow(event);"category>View on map</a> | <a href="#/shows/details/{{ event._id }}">View details</a></p> -->

						</div>
					</li>
				</ol>

				<!-- <div ng-include src="'app/views/shows/paging.html'"></div> -->

			</div>
		</div>

	</div>
</section>
