<section class="upcoming">

	<div class="container">
		<section>
			<h1>Upcoming Shows</h1>

			<p ng-show="!(upcomingShows | filter: showHasSelectedCategory | filter: showIsInSearch).length">No shows</p>

			<label>Search</label>
			<input type="search" name="search" placeholder="Enter keywords here" ng-model="searchText"/>
			<a ng-show="searchText" ng-click="searchClearClick()" href="">Clear</a>
		</section>

		<nav class="widgetCategories">
			<div class="widget-title">Categories</div>
			<ul>
				<li ng-repeat="category in categories">
					<a class="category" href="" ng-click="categoryClick(category);">
					<span class="show" ng-show="isCategorySelected(category);">✓</span>
					<span class="hide" ng-hide="isCategorySelected(category);">✗</span>
					{{ category }}</a>
				</li>
			</ul>
		</nav>

		<nav class="tabs">
			<a class="active" href="#">Upcoming events <span class="count" ng-hide="!(upcomingShows | filter: showHasSelectedCategory | filter: showIsInSearch).length">({{ (upcomingShows | filter: showHasSelectedCategory | filter: showIsInSearch).length }} show{{ (upcomingShows | filter: showHasSelectedCategory | filter: showIsInSearch).length === 1 ? '' : 's' }})</span></a>
			<a href="#">Past events</a>
			<a href="/#/shows/entered">Entered</a>
		</nav>

		<ol class="monthList">
			<li>
				<div class="monthWrapper">
					<h3>February
					<br/><span class="year">2014</span></h3>
				</div>

				<div class="eventListWrapper">
					<ol class="eventList">
						<li class="event" ng-repeat="event in upcomingShows | filter: showHasSelectedCategory | filter: showIsInSearch">

							<div class="eventDate">
								<span ng-bind="event.ShowDate" /> to <span ng-bind="event.ShowEnd" />
							</div>

							<div class="eventShortDetail">
								<h2><a ng-href="#/shows/details/{{ event._id }}"><span ng-bind="event.Name"></span></a></h2>

								<div class="meta">
									<a class="tag" href="#" ng-bind="event.Meta.ShowType" />
									<a class="tag" href="#" ng-bind="event.Club" />
									<a class="tag entered" href="#">Entered</a>
									<a class="tag entered" href="#">Camping</a>
								</div>

								<p>Entries closing date: <span ng-bind="event.ClosingDate" /></p>

								<div>Venue:
									<a href="#"><span ng-bind="event.Venue.Name" /></a>,
									<span ng-bind="event.Venue.Address" />,
									<span ng-bind="event.Venue.PostCode" />
								</div>

								<p><a href="" ng-click="jumpToShow(event);">View on map</a> | <a href="#/shows/details/{{ event._id }}">View details</a></p>

								<!-- <div class="widget">
									<div class="widget-title">Classes</div>
									<span class="label label-default"><span class="fui-tag"></span> small</span>
									<span class="label label-default"><span class="fui-tag"></span> medium</span>
									<span class="label label-default"><span class="fui-tag"></span> large</span>
									<span class="label label-default"><span class="fui-tag"></span> jumping</span>
								</div> -->
							</div>
						</li>
					</ol>
				</div>
			</li>
		</ol>

		<!--/// PAGINATION ///-->
		<!--<div class="pagination pagination-minimal">
			<ul>
				<li class="previous">
					<a href="#" class="fui-arrow-left"></a>
				</li>

				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>

				<li class="next">
					<a href="#" class="fui-arrow-right"></a>
				</li>
			</ul>
		</div>-->
	</div>
</section>
